{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<!-- Reset Link page stylesheet -->
<link rel="stylesheet" href="../../static/css/password_reset.css">

<!-- enter page content here -->
<div class="form-container reset-link">
    <h2>Password reset complete</h2>
    <p>Your password has been set. You may go ahead and <a class="email-link take-home" href="{% url 'user:login' %}">log in</a> now.</p>
</div>
<script>
    // code to animate preloader dropping down when taken back to home page
    const takeHome = document.querySelector(".take-home");
    takeHome.addEventListener("click", () => {
      preloader.classList.add("preloader-shown");
    });
  </script>
{% endblock %}



