{% extends 'base.html' %} {% load static %} {%block title %} Reset Password
{%endblock %} {%block content %}
<!-- reset password page stylesheet -->
<link rel="stylesheet" href="{% static '/css/password_reset.css' %}" />



<div class="form-container">

  {% comment %} loop over form errors {% endcomment %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endfor %}
  {% endfor %}
  {% comment %} loop over non field errors {% endcomment %}
  {% for error in form.non_field_errors %}    
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endfor %}

  

  <h2>Reset your password here</h2>

  <hr />


  <form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
      <input
        class="form__input reset__input"
        id="password-reset-1"
        type="password"
        name="new_password1"
        placeholder="Enter New Password"
        required
      />
      <div class="password-icon" id="eye-reset-1">
        <i class="bi bi-eye"></i>
        <i class="bi bi-eye-slash"></i>
      </div>
      <small class="error-msg"></small>
      <label class="form__label reset__label" for="password-reset-1"
        >Enter New Password</label
      >
    </div>

    <div class="form-group">
      <input
        class="form__input reset__input"
        id="password-reset-2"
        type="password"
        name="new_password2"
        placeholder="Re-enter Password"
        required
        autocomplete="off"
      />
      <div class="password-icon" id="eye-reset-2">
        <i class="bi bi-eye"></i>
        <i class="bi bi-eye-slash"></i>
      </div>
      <small class="error-msg"></small>
      <label class="form__label reset__label" for="password-reset-2"
        >Re-enter Password</label
      >
    </div>

    <button type="submit" class="form__button">
      <div class="text-container">
        <p class="p-1">Complete</p>
        <p class="p-2">Complete</p>
      </div>
    </button>
  </form>
</div>

<!-- javascript -->
<script src="{% static 'js/forms.js' %}"></script>
<!-- enter page content here -->

{% endblock %}
