{% extends 'base.html' %} {% load static %} {%block title %} Request Reset Code
{% endblock %} {%block content %}
<!-- reset code page stylesheet -->
<link rel="stylesheet" href="../../static/css/password_reset.css" />

<div class="form-container">
  <h2>Reset your password here</h2>

  <hr />

  <form method="post" class="form">
    {% csrf_token %}

    <div class="form-group">
      <input
        class="form__input reset__input-2"
        type="email"
        name="email"
        id="enter-email"
        placeholder="Enter registered email"
        required
      />
      <label class="form__label reset__label-2" for="enter-email"
        >Enter registered email</label
      >
      <small class="error-msg"></small>
    </div>

    <button class="form__button" type="submit">
      <div class="text-container">
        <p class="p-1">Request reset code</p>
        <p class="p-2">Request reset code</p>
      </div>
    </button>
  </form>
  <p class="login-signup-text">
    Didn't receive code? <a href="#">Resend in 30sec</a>
  </p>
</div>

<script>
  const form = document.querySelector(".form");
  const emailInput = document.querySelector("#enter-email");
  const errorMsg = document.querySelector(".error-msg");

  // Email validation

  form.addEventListener("submit", (e) => {
    if (checkInput())
      e.preventDefault();
    
  });

  function setError(errorMsg, inputName) {
    errorMsg.classList.add("active");
    inputName.style.border = "2px solid hsl(0, 100%, 74%)";
    inputName.style.outline = "none";
  }

  function checkInput() {
    const emailValue = emailInput.value.trim();
    let is_error = false;
    console.log(emailValue);

    if (emailValue === "") {
      setError(errorMsg, emailInput);
      errorMsg.textContent = "Email cannot be empty";
      is_error = true;
    } else if (!isEmail(emailValue)) {
      setError(errorMsg, emailInput);
      errorMsg.textContent = "This is not a valid email";
      is_error = true;
    } else {
      errorMsg.classList.remove("active");
      emailInput.style.border = "1px solid var(--text-color)";
    }

    return is_error;
  }

  function isEmail(email) {
    return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
  }
</script>
<!-- enter page content here -->

{% endblock %}
