{% extends 'base.html' %} {% load static %} {% block title %} Log In
{%endblock%} {% block content %}
<!-- login page stylesheet -->
<link rel="stylesheet" href="{% static 'css/logIn_sigIn.css' %}" />

<div class="form-container">
  <div class="form-content">
    <h2>Log In</h2>

    <form action="" method="post" class="form">
      {% include "messages.html" %} {% csrf_token %}
      <div class="form-group">
        <input
          class="form__input"
          type="email"
          name="email"
          id="firstname"
          placeholder=" "
          required
        />
        <small class="error-msg">Cannot be less than 8 characters</small>
        <label class="form__label" for="firstname">Email</label>
        <i class="line"></i>
      </div>

      <div class="form-group">
        <input
          class="form__input"
          type="password"
          name="password"
          id="login-input"
          placeholder=" "
          required
          autocomplete="off"
        />
        <div class="password-icon" id="eye-login">
          <i class="bi bi-eye"></i>
          <i class="bi bi-eye-slash"></i>
        </div>
        <label class="forgot-password" for=""
          ><a href="{% url 'password_reset' %}">Forgot Password?</a></label
        >

        <div class="login-signup-text signup-text">
          <a href="{% url 'user:signup' %}">Sign Up Here</a>
        </div>

        <label class="form__label" for="login-input">Password</label>
        <i class="line"></i>
      </div>

      <button class="form__button take-home" type="submit">
        <div class="text-container">
          <p class="p-1">Log In</p>
          <p class="p-2">Log In</p>
        </div>
      </button>
    </form>
  </div>
</div>

<!-- javascript -->
<script>
  const loginInput = document.querySelector("#login-input");
  const eyeLogIn = document.querySelector("#eye-login");
  const form = document.querySelector(".form");
  const emailInput = document.querySelector("#email");
  const errorMsg = document.querySelector(".error-msg");

  document.querySelector(".form__input").addEventListener("input", () => {
    document.querySelector(".alert").style.display = "none";
  });

  eyeLogIn.addEventListener("click", () => {
    eyeLogIn.classList.toggle("active");
    showPassword();
  });

  function showPassword() {
    if (loginInput.type === "password") {
      loginInput.type = "text";
    } else {
      loginInput.type = "password";
    }
  }

  // Email validation

  form.addEventListener("submit", (e) => {
    if (checkInput()) e.preventDefault();
  });

  function setError(errorMsg, inputName) {
    errorMsg.classList.add("active");
    inputName.style.border = "2px solid hsl(0, 100%, 74%)";
    inputName.style.outline = "none";
  }

  function checkInput() {
    const emailValue = emailInput.value.trim();
    let is_error = false;
    console.log(emailValue);

    if (emailValue === "") {
      setError(errorMsg, emailInput);
      errorMsg.textContent = "Email cannot be empty";
      is_error = true;
    } else if (!isEmail(emailValue)) {
      setError(errorMsg, emailInput);
      errorMsg.textContent = "This is not a valid email";
      is_error = true;
    } else {
      errorMsg.classList.remove("active");
      emailInput.style.border = "1px solid var(--text-color)";
    }

    return is_error;
  }

  function isEmail(email) {
    return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
  }

  // code to animate preloader dropping down when taken back to home page
  // const takeHome = document.querySelector(".take-home");
  // takeHome.addEventListener("click", () => {
  //   preloader.classList.add("preloader-shown");
  // });
</script>
<!-- enter page content here -->

{% endblock %}
