{% extends 'base.html' %} {% load static %} {%block title %} Log In {%endblock%}
{% block content %}
<!-- login page stylesheet -->
<link rel="stylesheet" href="{% static 'css/logIn_sigIn.css' %}" />

<div class="form-container">
  <h2>Log In</h2>

  <hr />

  <form action="#" class="form">
    <div class="form-group">
      <input
        class="form__input"
        type="email"
        name=""
        id="firstname"
        placeholder="Email"
        required
      />
      <label class="form__label" for="firstname">Email</label>
    </div>

    <div class="form-group">
      <input
        class="form__input"
        type="password"
        name=""
        id="login-input"
        placeholder="Password"
        required
        autocomplete="off"
      />
      <div class="password-icon" id="eye-login">
        <i class="bi bi-eye"></i>
        <i class="bi bi-eye-slash"></i>
      </div>
      <label class="form__label" for="login-input">Password</label>
    </div>

    <button class="form__button">
      <div class="text-container">
        <p class="p-1">Log In</p>
        <p class="p-2">Log In</p>
      </div>
    </button>
  </form>

  <p class="login-signup-text">
    Not yet registered? <a href="{% url 'user:signup' %}">Sign Up Here</a>
  </p>
</div>

<!-- javascript -->
<script>
  const loginInput = document.querySelector("#login-input");
  const eyeLogIn = document.querySelector("#eye-login");
  eyeLogIn.addEventListener("click", () => {
    eyeLogIn.classList.toggle("active");
    showPassword();
  });

  function showPassword() {
    if (loginInput.type === "password") {
      loginInput.type = "text";
    } else {
      loginInput.type = "password";
    }
  }
</script>
<!-- enter page content here -->

{% endblock %}
