{% extends 'base.html' %} {% load static %} {%block title %} Log In {%endblock%}
{% block content %}
<!-- login page stylesheet -->
<link rel="stylesheet" href="{% static 'css/logIn_sigIn.css' %}" />

<form action="#" class="form">
  <div class="form-group">
    <input
      class="form__input"
      type="text"
      name=""
      id="firstname"
      placeholder="First Name"
    />
    <label class="form__label" for="firstname">First Name</label>
  </div>
  <div class="form-group">
    <input
      class="form__input"
      type="text"
      name=""
      id="lastname"
      placeholder="Last Name"
    />
    <label class="form__label" for="lastname">Last Name</label>
  </div>
  <div class="form-group">
    <input
      class="form__input"
      type="email"
      name=""
      id="email"
      placeholder="Email"
    />
    <label class="form__label" for="email">Email</label>
  </div>
  <div class="form-group">
    <input
      class="form__input"
      type="password"
      name=""
      id="password"
      placeholder="Password"
    />
    <label class="form__label" for="password">Password</label>
  </div>
  <div class="form-group">
    <input
      class="form__input"
      type="text"
      name=""
      id="displayname"
      placeholder="Display Name"
    />
    <label class="form__label" for="displayname">Display Name</label>
  </div>
</form>

<!-- enter page content here -->

{% endblock %}
