{% extends 'base.html' %} {% load static %} {%block title %} Reset Password
{%endblock %} {%block content %}
<!-- reset password page stylesheet -->
<link rel="stylesheet" href="../../static/css/password_reset.css" />

<div class="form-container">
  <h2>Reset your password here</h2>

  <hr />

  <form action="#" class="form">
    <div class="form-group">
      <input
        class="form__input reset__input"
        type="password"
        name=""
        id="enter-password"
        placeholder="Enter New Password"
        required
      />
      <div class="password-icon">
        <img src="{% static 'img/eye.svg' %}" alt="" />
      </div>
      <label class="form__label reset__label" for="enter-password"
        >Enter New Password</label
      >
    </div>

    <div class="form-group">
      <input
        class="form__input reset__input"
        type="password"
        name=""
        id="re-enter-password"
        placeholder="Re-enter Password"
        required
        autocomplete="off"
      />
      <div class="password-icon">
        <img src="{% static 'img/eye.svg' %}" alt="" />
      </div>
      <label class="form__label reset__label" for="re-enter-password"
        >Re-enter Password</label
      >
    </div>

    <button class="form__button">
      <div class="text-container">
        <p class="p-1">Complete</p>
        <p class="p-2">Complete</p>
      </div>
    </button>
  </form>
</div>

<!-- javascript -->
<script src="{% static 'js/forms.js' %}"></script>
<!-- enter page content here -->

{% endblock %}
