{% extends 'base.html' %} {% load static %} {%block title %} Sign In
{%endblock%} {% block content %}
<!-- Sign In page stylesheet -->

<link rel="stylesheet" href="{% static 'css/logIn_sigIn.css' %}" />
<div class="form-container">
  <h2>Writer's Sign Up</h2>

  <hr />

  <form action="" id="any" method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
      <input
        class="form__input"
        type="text"
        name="firstname"
        id="firstname"
        placeholder="First Name"
        required
      />
      <label class="form__label" for="firstname">First Name</label>
    </div>

    <div class="form-group">
      <input
        class="form__input"
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Last Name"
        required
      />
      <label class="form__label" for="lastname">Last Name</label>
    </div>

    <div class="form-group">
      <input
        class="form__input"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
      <label class="form__label" for="email">Email</label>
    </div>

    <div class="form-group">
      <input
        class="form__input"
        type="password"
        name="password"
        id="signup-input"
        placeholder="Password"
        required
        autocomplete="off"
      />
      <div class="password-icon" id="eye-signup">
        <i class="bi bi-eye"></i>
        <i class="bi bi-eye-slash"></i>
      </div>
      <label class="form__label" for="signup-input">Password</label>
    </div>

    <div class="form-group">
      <input
        class="form__input"
        type="text"
        name="username"
        id="displayname"
        placeholder="Display Name"
        required
      />
      <label class="form__label" for="displayname">Display Name</label>
    </div>

    <div class="form-group checkbox-group">
      <input type="checkbox" name="checkbox" id="terms" />
      <label class="form__checkbox" for="terms">
        <div class="check-mark"></div>
      </label>

      <p>
        I agree to the <a href="{% url 'privacy' %}">Privacy Policy</a> and
        <a href="{% url 'terms_of_service' %}">Terms of Service</a>
      </p>
    </div>

    <!-- <input type="submit" value="submit"> -->

    <button type="submit" form="any" class="form__button">
      <div class="text-container">
        <p class="p-1">Sign Up</p>
        <p class="p-2">Sign Up</p>
      </div>
    </button>
  </form>

  <p class="login-signup-text">
    Already have an account? <a href="{% url 'user:login' %}">Login</a>
  </p>
</div>

<script>
  const signUpInput = document.querySelector("#signup-input");
  const eyeSignUp = document.querySelector("#eye-signup");

  eyeSignUp.addEventListener("click", () => {
    eyeSignUp.classList.toggle("active");
    showPassword();
  });

  function showPassword() {
    if (signUpInput.type === "password") {
      signUpInput.type = "text";
    } else {
      signUpInput.type = "password";
    }
  }
</script>
<!-- enter page content here -->

{% endblock %}
