{% extends 'base.html' %}
{% load static %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<!-- profile page stylesheet -->
<link rel="stylesheet" href="{% static 'css/author_profile.css' %}">

<!-- enter page content here -->
<body>
    
<main>
        <!-- AUTHOR'S BIO -->
      <section class="hero">
        <img src="{% static '/img/author-picture.png' %}" alt="user's picture" id="author-img"/>
        <div class="author-bio">
          <p class="name">Jeremy Smith</p>
          <p class="brief">
            Jeremy Smith has been a writer and editor since 2014. He is a
            self-professed horror expert, pop culture enthusiast, and Bob Saget
            fanatic.
          </p>
          <div class="author-socials">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-pinterest"></i> 
          </div>
        </div>
    </section>

        <span class="page-break"></span>
    
        <!-- LATEST ARTICLE BY THE AUTHUR -->
    
        <p class="sub-heading">Latest Articles by Jeremy Smith</p>

      <section class="latest-articles">
          <div class="articles-ctn">
            <div class="row1">
                <div id="article1" class="article">
                    <img src="{% static '/img/_lea-michelle.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article2" class="article">
                    <img src="{% static '/img/picture-8.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        The Enforcer Review: Antonio Banderas Cares and Kills
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article3" class="article">
                    <img src="{% static '/img/heartbreak-high.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Did Netflix announce the renewal of Heartbreak Season 2?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>
            </div>

            <div class="row2">
                <div id="article1" class="article">
                    <img src="{% static '/img/_lea-michelle.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article2" class="article">
                    <img src="{% static '/img/picture-8.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article3" class="article">
                    <img src="{% static '/img/heartbreak-high.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Did Netflix announce the renewal of Heartbreak Season 2?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>
            </div>

            <div class="row3">
                <div id="article1" class="article">
                    <img src="{% static '/img/_lea-michelle.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article2" class="article">
                    <img src="{% static '/img/picture-8.png' %}"  alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article3" class="article">
                    <img src="{% static '/img/heartbreak-high.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Did Netflix announce the renewal of Heartbreak Season 2?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>
            </div>


            <div class="row4">
                <div id="article1" class="article">
                    <img src="{% static '/img/_lea-michelle.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article2" class="article">
                    <img src="{% static '/img/picture-8.png' %}"  alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article3" class="article">
                    <img src="{% static '/img/heartbreak-high.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Did Netflix announce the renewal of Heartbreak Season 2?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>
            </div>


            <div class="row5">
                <div id="article1" class="article">
                    <img src="{% static '/img/_lea-michelle.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article2" class="article">
                    <img ssrc="{% static '/img/picture-8.png' %}"  alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Why is Funny Girl and Glee actress Lea Michele trending on Tiktok?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>

                <div id="article3" class="article">
                    <img src="{% static '/img/heartbreak-high.png' %}" alt="post-image" class="article-img">
                    <p class="time">12 hours ago</p>
                    <p class="title">
                        Did Netflix announce the renewal of Heartbreak Season 2?
                        <span class="divider"></span>
                        <p class="comment">9 comments</p>
                        <p class="article-category">Movie News</p>
                    </p>
                </div>
                

            </div>

            <div class="post-tags">
                {% include 'tags.html' %}
            </div>

            

          </div>

            
          <!-- <div class="posts-sidebar">
              <div class="tags">
                  <p class="sub-heading">Tags</p>
                  <div class="category-tags">
                      <ul>
                          <li>Kdrama</li>
                          <li>Action</li>
                          <li>Romance</li>
                          <li>Bollywood</li>
                          <li>Anime</li>
                          <li>Actors</li>
                      </ul>
                  </div>
              </div>
          </div> -->
         
         
        <!-- <div class="post-tags">
        <div class="latest-post">
           
            <ul>
                <li class="HOD-post">
                     <div class="post-title">
                       latest post 
                    </div>
                    <div class="post-subtitle">
                        <div>1</div>
                        <div>House of the Dragon Episode 1 Recap &  Review</div> 
                    </div>
                </li>
                <li>2) Expectation from Squid Game Season 2</li>
                <li>3) The Discovery Of Witches Season 3 Review</li>
                <li>4) Little Women – K-Drama Episode 5 Recap & Review</li>
                <li>5) Big Mouth Episode 7 Recap & Review</li>
                <li>6) The Sandman Season 1 Review</li>
                <li>7) Locke and Key Season 3</li>
                <li>8) Best Anime 2022</li>
                <li>9) Break Out Kdrama actors 2022</li>
                <li>10) 10 Upcoming movies/Series on Netflix </li>
            </ul>
            <a class='more-lnk' href="">More</a>
        </div>
        <div class="tags">
            <div class="tags-title">
               Tags 
            </div>
           <ul>
            <li>
                <a href="">Kdrama</a>
                <a href="">Action</a>
                <a href="">Romance</a>
            </li>
            <li>
                <a href="">Bollywood</a>
                <a href="">Anime</a>
                <a href="">Actors</a>
            </li>
            <li>
                <a href="">Chinese Series</a>
                <a href="">Spanish series</a>
            </li> 
            <li>
                <a href="">Comedy</a>
                <a href="">Horror</a>
                <a href="">Sci Fi</a>
            </li>
            <li>
                <a href="">Thai Series</a>
                <a href="">Unpopular Opinion</a>
            </li>
           </ul> 
        </div>
    </div> -->


        </section>
        <div class="page-slider">
    <a href="" class="page1" id="active-slider">1</a>
    <a href="" class="page2">2</a>
    <a href="" class="page3">3</a>
</div>
    </main>
<footer></footer>


</body>

{% endblock %}