{% extends 'base.html' %} {% load static %} {% block title %} User Profile {% endblock %} {% block content %}
<!-- profile page stylesheet -->
<link rel="stylesheet" href="{% static 'css/author_profile.css' %}" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
<script

src="https://kit.fontawesome.com/f118ba513f.js"
  crossorigin="anonymous">
</script>

<!-- enter page content here -->
<body>
  <main>
    <!-- AUTHOR'S BIO -->
    <section class="hero">
      <div>
      <!-- <img
        src="{% static '/img/author-picture.png' %}"
        alt="user's picture"
        id="author-img"
      /> -->
      <a href="{% url 'user:profile' user %}" class="sub-nav__link"
                >User Profile</a
              >

      <!-- Edit profile button and modal -->
      <button id="edit-profile" onclick="showModal()">Edit Profile</button>
      <div id="modal">
        <div id="modal-content">
          <div class="close">
          <p id="close-modal">Back</p>
          <!-- <img src="{% static '/img/author-picture.png' %}" alt="user's picture"> -->
          </div>
          <hr>
          <form method="post" action="{% url 'user:edit_profile' user %}" id="editing-form">
            {% csrf_token %}
            <label for="first-name">Enter first name</label>
            <input value="{{ author.first_name }}" name="first-name" type="text" id="first-name">
            <label for="last-name">Enter last name</label>
            <input value="{{ author.last_name }}" name="last-name" type="text" id="last-name">
            <label for="bio">write bio</label>
            <textarea name="bio" type="text" id="bio">{{ author.bio }}</textarea>
            <p>Add Social media Links</p>
            <label for="twitter"><i class="fa-brands fa-twitter"></i></label>
            <input value="{{ author.twitter_link }}" name="twitter-link" type="text" id="twitter" placeholder="Enter link">
            <label for="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></label>
            <input value="{{ author.instagram_link }}" name="ig-link" type="text" id="instagram" placeholder="Enter link">
            <label for="pinterest"><i class="fa-brands fa-pinterest"></i></label>
            <input value="{{ author.pintrest_link }}" name="pinterest-link" type="text" id="pinterest" placeholder="Enter link">
          </form>
          <p class="reset-password">
            Forgot Password? <a href="{%url 'password_reset' %}" class="reset-page-link">Reset Here</a>
          </p>
          <button 
          type="submit" 
          for="editing-profile"
          onclick="submitEditForm()">Update</button>
        </div>
      </div>
      </div>
      <div class="author-bio">
        <p class="name">{{ author.first_name }} {{ author.last_name}}</p>
        <p class="brief">
          {{ user.bio }}
        </p>
        <div class="author-socials">
          <a href="{{ author.twitter_link }}" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
          
          <a href="{{ author.ig_link }}" target="_blank">  
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>

          <a href="{{ author.pintrest_link }}" target="_blank">  
            <i class="fa-brands fa-pinterest"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- =====PAGE BREAK===== -->
    <!-- <span class="page-break"></span> -->
    <hr>

    <!-- LATEST ARTICLE BY THE AUTHUR -->
    <div class="sub-heading">Latest Articles by {{ author.first_name }} {{ author.last_name }}</div>

    <section class="latest-articles">
      <!-- =====CONTAINER FOR ALL THE ROWS===== -->
      <div class="articles-ctn">
        <!-- =====ROW 1===== -->
        <div class="row1">

          {% for post in posts  %}

            {% if forloop.counter == 1 %}

              <div id="article1" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}
            

          
          {% for post in posts  %}

            {% if forloop.counter == 2 %}

              <div id="article2" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

        </div>

        <!-- =====ROW 2===== -->
        <div class="row2">
          {% for post in posts  %}

            {% if forloop.counter == 3 %}

              <div id="article1" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

          {% for post in posts  %}

          {% if forloop.counter == 4 %}

            <div id="article2" class="article">
              <img
                src="{{ post.cover_image.url }}"
                alt="post-image"
                class="article-img"
              />
              <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
              <a href="{{ post.get_absolute_url }}" class="title">
                {{ post.title | truncatechars:50 }}
              </a>
              <span class="divider"></span>
              
                <a class="comment">{{ post.comments.count }} comments</a>
                <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
            
            </div>
          {% endif %}
          
        {% endfor %}

        </div>

        <!-- =====ROW 3===== -->
        <div class="row3">
          {% for post in posts  %}

            {% if forloop.counter == 5 %}

              <div id="article1" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

          {% for post in posts  %}

            {% if forloop.counter == 6 %}

              <div id="article2" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

        </div>

        <!-- =====ROW 4===== -->
        <div class="row4">
          {% for post in posts  %}

            {% if forloop.counter == 7 %}

              <div id="article1" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

          {% for post in posts  %}

            {% if forloop.counter == 8 %}

              <div id="article2" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

          
        </div>

        <!-- =====ROW 5===== -->
        <div class="row5">
          {% for post in posts  %}

            {% if forloop.counter == 9 %}

              <div id="article1" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

          {% for post in posts  %}

            {% if forloop.counter == 10 %}

              <div id="article2" class="article">
                <img
                  src="{{ post.cover_image.url }}"
                  alt="post-image"
                  class="article-img"
                />
                <p class="time">{{ post.date_published | date:"D F Y f a" }}</p>
                <a href="{{ post.get_absolute_url }}" class="title">
                  {{ post.title | truncatechars:50 }}
                </a>
                <span class="divider"></span>
                
                  <a class="comment">{{ post.comments.count }} comments</a>
                  <a class="article-category">{{ post.tags.all | join:", " | truncatewords:1 }}</a>
              
              </div>
            {% endif %}
            
          {% endfor %}

          
        </div>
      </div>

      <!-- =====LATEST POST SIDE-BAR (COMPONENT) -->
      <div class="tags-comp">{% include 'tags.html' %}</div>
    </section>

    {% include "paginator.html" with page=posts %}
  </main>

  <!-- javascript for modal -->
  <script>

    //submit edit profile form
    function submitEditForm(){
      document.getElementById('editing-form').submit();
    }

    function showModal() {
    let modal = document.querySelector('#modal');
    let close = document.querySelector('#close-modal');
    
    modal.style.cssText = 'display:grid; place-items:center;';

    window.onclick = function (event) {
     if (event.target == modal) {
       modal.style.display = "none";
     }
   };
    close.onclick = function () {
       modal.style.display = "none";
   };
}
  </script>
</body>

{% endblock %}