{% extends 'base.html' %}
{% load static %} 
{% load blog_extra %} 
{% block title %} Blog Post {% endblock %} 
{% block content %}
<!-- blog post page stylesheet -->
<link rel="stylesheet" href="{% static 'css/blog_post.css' %}" />

<!-- enter page content here -->

<div class="blog">
  <div class="blog__content">
    <h2 class="blog__heading">{{ post.title }}</h2>
    <h3 class="blog__subheading">{{ post.subtitle }}</h3>
    <p class="blog__author">
      <span>By</span>
      <a href="{% url 'user:profile' post.author %}" class="sub-nav__link"
      style="color: var(--text-color);"  
      >{{ post.author }}
      </a>
      {% if post.author == request.user %}
      <a
        href="./edit"
        class="blog__edit"
        style="color: var(--text-gold-color); margin-left: 0.15em"
        >Edit</a
      >
      <a
    
        id="delete-post"
        class="blog__edit"
        style="color: red; margin-left: 0.15em;cursor: pointer;"
        >DELETE</a
      >

      {% endif %}
    </p>
    <p class="blog__post-time">
      Published {{ post.date_published | date:"l F Y f a" }}
    </p>

    <div class="blog__post">
      <div class="blog__movie-image">
        <img src="{{ post.cover_image.url }}" alt="movie-image" />
      </div>

      <div class="blog__post-story">{{ post.content | safe }}</div>

      <style>
        .blog__post-story > p > img {
          width: 100% !important;
        }
      </style>

      <style>
        .blog__related-heading a {
          color: var(--text-color);
          text-decoration: none;
        }
      </style>
    </div>

    <!-- AUTHOR DETAILS -->
    <div class="blog__author-details">
      <div class="blog__author-avatar">
        <a
          href="{{ post.author.get_absolute_url }}"
          class="navigation__link user-icon"
          >{{ post.author.first_name | initials }}{{ post.author.last_name | initials }}</a>
      </div>

      <div class="blog__author-description">
        <h3>
          <a
            style="color: inherit"
            href="{% url 'user:profile' post.author %}"
            class="sub-nav__link"
            >{{ post.author }}
          </a>
        </h3>

        <p>{{ post.author.bio }}</p>
      </div>
    </div>

    <!-- RELATED POST -->
    <div class="blog__related">
      <div class="blog__related-heading">
        <h3>Related:</h3>
        {% for r_post in related_post %}
        <h3>
          <a href="{{ r_post.get_absolute_url}}"> {{ r_post.title }} </a>
        </h3>
        {% endfor %}
      </div>
    </div>

    <!-- BLOG EXTRA CONTENT AD -->
    {% if next_post is not None %}
    <div class="blog__ad">
      <div class="blog__ad-image">
        <img src="{{ next_post.cover_image.url }}" alt="AD" />
      </div>
      <div class="blog__ad-description">
        <h3>{{ next_post.title}}</h3>
      </div>
      <div class="blog__ad-next">
        <a href="{{ next_post.get_absolute_url }}">READ NEXT &rarr;</a>
      </div>
    </div>
    {% else %} {% endif %}

    <!--  RELATED TOPICS SECTION -->
    <h3 class="related-topics-heading">RELATED TOPICS</h3>
    <div class="blog__related-topics">
      {% for r_post in similar_posts %}
      <span class="topic"
        ><a href="{{ r_post.get_absolute_url }}"> {{r_post.title}} </a></span
      >
      {% endfor %}
    </div>

    <!-- COMMENT SECTION -->
    <div id="comments" class="comment-container">
      <h3>COMMENTS</h3>

      {% for comment in comments %}

      <div class="comment__content">
        <div class="comment__name">
          <p>{{ comment.name }}</p>
          <p class="comment__time">{{ comment.date_added }}</p>
        </div>

        <p class="comment-body">{{ comment.body}}</p>

        <hr class="comment-demacation" />
      </div>

      {% empty %} {% endfor %}
      <!-- comment button -->
      <button class="comment__button">
        <p>Comment</p>
        <img
          class="comment-icon"
          src="{% static 'img/comment-icon.svg' %}"
          alt=""
        />
      </button>
    </div>
  </div>

  <!-- pop up when user clicks delete -->
  <div class="delete-query">
    <div class="delete-question">
      <p>Are you sure you want to delete this post?</p>
    </div>
    <div class="delete-buttons">
      <a class="delete-YES" href="./delete">YES</a>
      <a class="delete-NO">NO</a>
    </div>
    <i class="bi bi-x delete-close"></i>
  </div>
  
  <!-- overlay for delete query box -->
  <div class="delete-overlay"></div>

  <!-- overlay for comment box -->
  <div class="comment-overlay"></div>

  <!-- comment box that pops up on comment button click -->
  <form
    action="{% url 'blog:comment' post.id %}"
    method="post"
    class="comment-box"
  >
    {% csrf_token %}


    <div class="input-group">
      <label for="display-name">Name</label>
      {% if user.is_authenticated %}
      <input
        type="text"
        name="username"
        value="{{ user.username }}"
        placeholder="Your display name"
        id="display-name"
      />

      {% else %}
      <input
        type="text"
        name="username"
        placeholder="Your display name"
        id="display-name"
      />
      {% endif %}
    </div>
    <div class="input-group">
      <label for="comment-message">Comment</label>
      <textarea
        name="comment-message"
        id="comment-message"
        cols="auto"
        rows="7"
        placeholder="What do you have to say"
      ></textarea>
    </div>
    <button type="submit" class="post-button">Post Comment</button>
    <i class="bi bi-x comment-close"></i>
  </form>

  <div class="blog__tags">{% include 'tags.html' %}</div>
</div>

<div id="disqus_thread"></div>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://screenedmovie.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>

<script
  id="dsq-count-scr"
  src="//screenedmovie.disqus.com/count.js"
  async
></script>

<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>

<script>

  const deletePost = document.querySelector('#delete-post')
  const deleteQuery = document.querySelector('.delete-query')
  const deleteClose = document.querySelector('.delete-close')
  const noDelete = document.querySelector('.delete-NO')
  const deleteOverlay = document.querySelector('.delete-overlay')
  const comment_btn = document.querySelector(".comment__button");
  const commentBox = document.querySelector(".comment-box");
  const commentOverlay = document.querySelector(".comment-overlay");
  const commentCloseBtn = document.querySelector(".comment-close");

  comment_btn.addEventListener("click", () => {
    commentBox.classList.add("active");
    commentOverlay.classList.add("active");
  });

  commentOverlay.addEventListener("click", () => {
    commentBox.classList.remove("active");
    commentOverlay.classList.remove("active");
  });

  commentCloseBtn.addEventListener("click", () => {
    commentBox.classList.remove("active");
    commentOverlay.classList.remove("active");
  });
  // CODE FOR DELETE POST POP UP
  deletePost.addEventListener("click", () => {
    deleteQuery.classList.add("active");
    deleteOverlay.classList.add("active");
  });

  deleteOverlay.addEventListener("click", () => {
    deleteQuery.classList.remove("active");
    deleteOverlay.classList.remove("active");
  });

  deleteClose.addEventListener("click", () => {
    deleteQuery.classList.remove("active");
    deleteOverlay.classList.remove("active");
  });

  noDelete.addEventListener("click", () => {
    deleteQuery.classList.remove("active");
    deleteOverlay.classList.remove("active");
  });

</script>

{% endblock %}
