{% extends 'base.html' %} {% load static %} {% block title %} Blog Post
{%endblock %} {% block content %}
<!-- blog post page stylesheet -->
<link rel="stylesheet" href="{% static 'css/blog_post.css' %}" />

<!-- enter page content here -->

<div class="blog">
  <div class="blog__content">
    <h2 class="blog__heading">
      {{ post.title }}
    </h2>
    <h3 class="blog__subheading">
      {{ post.subtitle }}
    </h3>
    <p class="blog__author">
      <span>By</span>
      {{ post.author }}
    </p>
    <p class="blog__post-time">Published {{ post.date_published }}</p>

    <div class="blog__post">
      <div class="blog__movie-image">
        <img src="{{ post.cover_image.url }}" alt="movie-image" />
      </div>

      <div class="blog__post-story">
        {{ post.content | safe | slice:"0: 500" }}
      </div>

      <style>
        .blog__post-story img {
          width: 100% !important;
        }
      </style>

      <!-- RELATED POST -->
      <div class="blog__related">
        <div class="blog__related-heading">
          <h3>Related:</h3>
          {% for r_post in related_post %}
             <h3> <a href="{{ r_post.get_absolute_url}}"> {{ r_post.title }} </a></h3>
          {% endfor %}
        </div>

        <style>
          .blog__related-heading a {
            color: var(--text-color);
            text-decoration: none;
          }
        </style>

        {{ post.content | safe | slice:"500: -1" }}

        <p>Score: 7/10</p>
      </div>
    </div>

    <!-- AUTHOR DETAILS -->
    <div class="blog__author-details">
      <div class="blog__author-avatar">
        <img src="{% static 'img/author-picture.png' %}" alt="" />
      </div>

      <div class="blog__author-description">
        <h3> {{ post.author }} </h3>

        <p>
          {{ post.author }} has been a writer and editor since {{ post.author.date_joined }}. He is a
          self-professed horror expert, pop culture enthusiast, and Bob Saget
          fanatic.
        </p>
      </div>
    </div>

    <!-- BLOG EXTRA CONTENT AD -->
    <div class="blog__ad">
      <div class="blog__ad-image">
        <img src="{{ next_post.cover_image.url }}" alt="AD" />
      </div>
      <div class="blog__ad-description">
        <h3>
          {{ next_post.title}}
        </h3>
      </div>
      <div class="blog__ad-next">
        <a href="{{ next_post.get_absolute_url }}">READ NEXT &rarr;</a>
      </div>
    </div>

    <!--  RELATED TOPICS SECTION -->
    <h3 class="related-topics-heading">RELATED TOPICS</h3>
    <div class="blog__related-topics">
      {% for r_post in similar_posts %}
      <span class="topic"><a href="{{ r_post.get_absolute_url }}"> {{r_post.title}} </a></span>
      {% endfor %}
    </div>

    <!-- COMMENT SECTION -->
    <div class="comment-container">
      <h3>COMMENTS</h3>

      <div class="main-comment">
        {% for comment in comments %}
          <div>
              <img
                class="comment__avatar"
                src="{% static 'img/comment-picture.png' %}"
                alt="avatar"
              />
          </div>
          <div class="comment__content">
            <div class="comment__name">
              <p>{{ comment.name }}</p>
              <p class="comment__time">
                {{ comment.date_added }}
              </p>
            </div>

            <p>
              {{ comment.body}}
            </p>

            {% comment %} <p class="reply-tag"><span></span> replies</p> {% endcomment %}
          </div>
        </div>
        
        {% endfor %}
      </div>
    </div>
      {% comment %} <div class="comment-reply">
        <div>
          <img
            class="comment__avatar"
            src="{% static 'img/comment-picture.png' %}"
            alt="avatar"
          />
        </div>

        <div class="comment__content">
          <div class="comment__name">
            <p>Reed Jon</p>
            <p class="comment__time">20 weeks ago</p>
          </div>
          I totally agree. great show. a little bit underwhelming but i will
          totally recommend
          <p class="reply-tag"><span></span> replies</p>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="blog__tags">{% include 'tags.html' %}</div>
</div>

{% endblock %}
