{% extends 'base.html' %} {% load static %} {% block title %} Blog Post
{%endblock %} {% block content %}
<!-- blog post page stylesheet -->
<link rel="stylesheet" href="{% static 'css/blog_post.css' %}" />

<!-- enter page content here -->

<div class="blog">
  <div class="blog__content">
    <h2 class="blog__heading">{{ post.title }}</h2>
    <h3 class="blog__subheading">{{ post.subtitle }}</h3>
    <p class="blog__author">
      <span>By</span>
      {{ post.author }}
    </p>
    <p class="blog__post-time">Published {{ post.date_published | date:"l F Y f a" }}</p>

    <div class="blog__post">
      <div class="blog__movie-image">
        <img src="{{ post.cover_image.url }}" alt="movie-image" />
      </div>

      <div class="blog__post-story">
        {{ post.content | safe | slice:"0: 500" }}
      </div>

      <style>
        .blog__post-story img {
          width: 100% !important;
        }
      </style>

      <!-- TRAILER SECTION -->

      {% if post.youtube_url %}
      <iframe width="560" height="315" src="{{ post.youtube_url }}" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      {% else %}
        <iframe width="560" height="315" src="{% url 'iframe' %}" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      {% endif %}


      <!-- RELATED POST -->
      <div class="blog__related">
        <div class="blog__related-heading">
          <h3>Related:</h3>
          {% for r_post in related_post %}
          <h3>
            <a href="{{ r_post.get_absolute_url}}"> {{ r_post.title }} </a>
          </h3>
          {% endfor %}
        </div>

        <style>
          .blog__related-heading a {
            color: var(--text-color);
            text-decoration: none;
          }
        </style>

        {{ post.content | safe | slice:"500: -1" }}

        <p>Score: 7/10</p>
      </div>
    </div>

    <!-- AUTHOR DETAILS -->
    <div class="blog__author-details">
      <div class="blog__author-avatar">
        <img src="{% static 'img/author-picture.png' %}" alt="" />
      </div>

      <div class="blog__author-description">
        <h3>{{ post.author }}</h3>

        <p>
          {{ post.author.bio }}
        </p>
      </div>
    </div>

    <!-- BLOG EXTRA CONTENT AD -->
    {% if next_post is not None %}
    <div class="blog__ad">
      <div class="blog__ad-image">
        <img src="{{ next_post.cover_image.url }}" alt="AD" />
      </div>
      <div class="blog__ad-description">
        <h3>{{ next_post.title}}</h3>
      </div>
      <div class="blog__ad-next">
        <a href="{{ next_post.get_absolute_url }}">READ NEXT &rarr;</a>
      </div>
    </div>
    {% else %}

    {% endif %}

    <!--  RELATED TOPICS SECTION -->
    <h3 class="related-topics-heading">RELATED TOPICS</h3>
    <div class="blog__related-topics">
      {% for r_post in similar_posts %}
      <span class="topic"
        ><a href="{{ r_post.get_absolute_url }}"> {{r_post.title}} </a></span
      >
      {% endfor %}
    </div>

    <!-- COMMENT SECTION -->
    <div id="comments" class="comment-container">
      <h3>COMMENTS</h3>

      <div class="main-comment">
          
        {% for comment in comments %}
          <div>
              <img
                class="comment__avatar"
                src="{% static 'img/comment-picture.png' %}"
                alt="avatar"
              />
          </div>
          <div class="comment__content">
            <div class="comment__name">
              <p>{{ comment.name }}</p>
              <p class="comment__time">
                {{ comment.date_added }}
              </p>
            </div>

            <p>
              {{ comment.body}}
            </p>

          </div>
        </div>
            {% empty %}
            <div class="comment__avatar">
              
          </div>
          <div class="comment__content">
            <div class="comment__name">
              <p></p>
              <p class="comment__time">
                
              </p>
            </div>

            <p>
              
            </p>

          </div>


        </div>
        {% endfor %}
      </div>

      <!-- comment button -->
      <button class="comment__button">
        <p>Comment</p>
        <img
          class="comment-icon"
          src="{% static 'img/comment-icon.svg' %}"
          alt=""
        />
      </button>
    

    </div>

    <!-- overlay for comment box -->
    <div class="comment-overlay"></div>

    <!-- comment box that pops up on comment button click -->
    <form action="{% url 'blog:comment' post.id %}" method="post" class="comment-box">
      {% csrf_token %}
      <i class="bi bi-x comment-close"></i>
  
      <div class="input-group">
        <label for="display-name">Name</label>
        <input type="text" name="username" placeholder="Your display name" id="display-name" />
      </div>
      <div class="input-group">
        <label for="comment-message">Comment</label>
        <textarea
          name="comment-message"
          id="comment-message"
          cols="auto"
          rows="7"
          placeholder="What do you have to say"
        ></textarea>
      </div>
      <button type="submit" class="post-button">Post Comment</button>
    </form>

  <div class="blog__tags">{% include 'tags.html' %}</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
  const comment_btn = document.querySelector(".comment__button");
  const commentBox = document.querySelector(".comment-box");
  const commentOverlay = document.querySelector(".comment-overlay");
  const commentCloseBtn = document.querySelector(".comment-close");

  comment_btn.addEventListener("click", () => {
    commentBox.classList.add("active");
    commentOverlay.classList.add("active");
  });

  commentOverlay.addEventListener("click", () => {
    commentBox.classList.remove("active");
    commentOverlay.classList.remove("active");
  });

  commentCloseBtn.addEventListener("click", () => {
    commentBox.classList.remove("active");
    commentOverlay.classList.remove("active");
  });




</script>

{% endblock %}
