{% extends 'base.html' %}
{% load static %}

{%block title %}
Categoies-Movies
{% endblock %}

{% block content %}
<!-- movies category page stylesheet -->
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<!-- enter page content here -->
<body>
  <div class="page-container">

      <div class="subcontainer-1">

          <h2 id="hollywood">Hollywood</h2>
          <div class="subcontainer-1-text">
            <p>This category covers everything related to movies written here on Screened. Our category is quite large and diverse, since movies cover a major portion of the site’s content. We have several smaller subcategories within it, as well as several categories that are a combination of one or more categories. Whether you’re here for the latest news and release dates, analyses, suggestions, or simply some information about a movie or two, we have it all.</p>
            
            <p>From black and white silent classics to modern blockbusters, the writers of our movie section cover it all. Our writers have made movies their life and that passion is clearly reflected in the articles they are writing, which range from basic information-based text, via various lists, to complex narrative and psychological analyses of the movies and the characters.</p>
            
            <p>Our Movies section is not just one of our largest, it is one of our most diverse categories and we hope you’ll find everything you’re looking for there.</p>
          </div>
      </div>
      
      <div id="divider"></div>

      <div class="subcontainer-2">

          <div class="subcontainer-2-item-i">

                <div class="card grid-item">
                  <img class="article-image" src="../static/img/picture-1.png" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h5 class="article-main-text">12 hours ago</h5>
                    <p><h3><span class="article-main-text"><b><a href="#">The Real Bling Ring: Hollywood Heist: A weak true-crime doc with very l...</a></b></span></h3></p>
                    <div class="article-divider"></div>
                    <div>
                      <p class="article-bottom-text"><a href="#">9 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                    </div>
                  </div>
                </div>

                <div class="card grid-item">
                  <img class="article-image" src="../static/imgpicture-2.png" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h5 class="article-main-text">On.19.sept.2022</h5>
                    <p><h3><span class="article-main-text"><b><a href="#">Don’t Worry Darling Review: Olivia Wilde’s Sophomore Slump Thriller</a></b></span></h3></p>
                    <div class="article-divider"></div>
                    <div>
                      <p class="article-bottom-text"><a href="#">45 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                    </div>
                  </div>
                </div>

                <div class="card grid-item">
                  <img class="article-image" src="../static/img/picture-3.png" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h5 class="article-main-text">On.19.sept.2022</h5>
                    <p><h3><span class="article-main-text"><b><a href="#">Meet Cute (2022) Movie Review - Time travel twist can’t save this mediocre....</a></b></span></h3></p>
                    <div class="article-divider"></div>
                    <div>
                      <p class="article-bottom-text"><a href="#">45 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                    </div>
                  </div>
                </div>

                <div class="card grid-item">
                  <img class="article-image" src="../static/img/picture-2.png" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h5 class="article-main-text">On.19.sept.2022</h5>
                    <p><h3><span class="article-main-text"><b><a href="#">Don’t Worry Darling Review: Olivia Wilde’s Sophomore Slump Thriller</a></b></span></h3></p>
                    <div class="article-divider"></div>
                    <div>
                      <p class="article-bottom-text"><a href="#">45 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                    </div>
                  </div>
                </div>

          </div>
          
          <div class="subcontainer-2-item-ii">
              
            <div class="card grid-item">
              <img class="article-image" src="../static/img/picture-5.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5 class="article-main-text">12 hours ago</h5>
                <p><h3><span class="article-main-text"><b><a href="#">Bandit Review: Josh Duhamel Charms as Clever Bank Robber...</a></b></span></h3></p>
                <div class="article-divider"></div>
                <div>
                  <p class="article-bottom-text"><a href="#">19 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                </div>
              </div>
            </div>

            <div class="card grid-item">
              <img class="article-image" src="../static/img/picture-6.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5 class="article-main-text">On.19.sept.2022</h5>
                <p><h3><span class="article-main-text"><b><a href="#">Black Panther: Wakanda Forever Winston Duke Reveals What He’s ‘Most...</a></b></span></h3></p>
                <div class="article-divider"></div>
                <div>
                  <p class="article-bottom-text"><a href="#">19 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                </div>
              </div>
            </div>

            <div class="card grid-item">
              <img class="article-image" src="../static/img/picture-7.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5 class="article-main-text">On.21.sept.2022</h5>
                <p><h3><span class="article-main-text"><b><a href="#">The Woman King Review: Viola Davis Is A Bonafide Action Star In The Truly...</a></b></span></h3></p>
                <div class="article-divider"></div>
                <div>
                  <p class="article-bottom-text"><a href="#">19 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                </div>
              </div>
            </div>

            <div class="card grid-item">
              <img class="article-image" src="../static/img/picture-8.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5 class="article-main-text">12 hours ago</h5>
                <p><h3><span class="article-main-text"><b><a href="#">The Enforcer Review: Antonio Banderas Cares and Kills.</a></b></span></h3></p>
                <div class="article-divider"></div>
                <div>
                  <p class="article-bottom-text"><a href="#">9 Comments</a> <span class="movie-news"><a href="#">Movie News</a></span></p>
                </div>
              </div>
            </div>

          </div>

          <div class="subcontainer-2-item-iii">
            
            <div class="post-tags">

              <div class="latest-post">
                  <ul>
                      <li class="HOD-post">
                           <div class="post-title">
                             latest post 
                          </div>
                          <div class="post-subtitle">
                              <div>1</div>
                              <div>House of the Dragon Episode 1 Recap &  Review</div> 
                          </div>
                      </li>
                      <li><a href="">2) Expectation from Squid Game Season 2</a></li>
                      <li><a href="">3) The Discovery Of Witches Season 3 Review</a> </li>
                      <li><a href="">4) Little Women – K-Drama Episode 5 Recap & Review</a> </li>
                      <li><a href="">5) Big Mouth Episode 7 Recap & Review</a> </li>
                      <li><a href="">6) The Sandman Season 1 Review</a></li>
                      <li><a href="">7) Locke and Key Season 3</a></li>
                      <li><a href="">8) Best Anime 2022</a></li>
                      <li><a href="">9) Break Out Kdrama actors 2022</a></li>
                      <li><a href="">10) 10 Upcoming movies/Series on Netflix</a></li>
                  </ul>

                  <a class='more-lnk' href="">More</a>

              </div>

              <div class="tags">
                  <div class="tags-title">
                     Tags 
                  </div>
                 <ul>
                  <li>
                      <a href="">Kdrama</a>
                      <a href="">Action</a>
                      <a href="">Romance</a>
                  </li>
                  <li>
                      <a href="">Bollywood</a>
                      <a href="">Anime</a>
                      <a href="">Actors</a>
                  </li>
                  <li>
                      <a href="">Chinese Series</a>
                      <a href="">Spanish series</a>
                  </li> 
                  <li>
                      <a href="">Comedy</a>
                      <a href="">Horror</a>
                      <a href="">Sci Fi</a>
                  </li>
                  <li>
                      <a href="">Thai Series</a>
                      <a href="">Unpopular Opinion</a>
                  </li>
                 </ul> 
              </div>

            </div>

          </div>

      </div>

    <div class="page-slider">
      <a href="#" class="page1" id="active-slider">1</a>
      <a href="#" class="page2">2</a>
      <a href="#" class="page3">3</a>
    </div>

  </div>
</body>
{% endblock %}