{% extends 'base.html' %}
{% load static %}

{%block title %}
Categoies-Movies
{% endblock %}

{% block content %}
<!-- movies category page stylesheet -->
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<!-- enter page content here -->
<body>
    <div class="page-container">

        <div class="page-subcontainer-1">

            <h2>Movies</h2>

            <p>This category covers everything related to movies written here on Screened. Our category is quite large and diverse, since movies cover a major portion of the site’s content. We have several smaller subcategories within it, as well as several categories that are a combination of one or more categories. Whether you’re here for the latest news and release dates, analyses, suggestions, or simply some information about a movie or two, we have it all.</p>
            
            <p>From black and white silent classics to modern blockbusters, the writers of our movie section cover it all. Our writers have made movies their life and that passion is clearly reflected in the articles they are writing, which range from basic information-based text, via various lists, to complex narrative and psychological analyses of the movies and the characters.</p>
            
            <p>Our Movies section is not just one of our largest, it is one of our most diverse categories and we hope you’ll find everything you’re looking for there.</p>
            
        </div>
        
        <div id="divider"></div>

        <div class="page-subcontainer-2">

            <div class="subcontainer-2-item-i">

                <div class="card">
                    <img src=".../static/img/picture-1.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>12 hours ago</h5>
                      <p><h3><b> The Real Bling Ring: Hollywood Heist: A weak true-crime doc with very l... </b></h3></p>
                    </div>
                  </div>

                  <div class="card">
                    <img src=".../static/img/picture-2" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>On.19.sept.2022</h5>
                      <p><h3><b>Don’t Worry Darling Review: Olivia Wilde’s Sophomore Slump Thriller</b></h3></p>
                    </div>
                  </div>

                  <div class="card">
                    <img src=".../static/img/picture-3.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>On.19.sept.2022</h5>
                      <p><h3><b>Meet Cute (2022) Movie Review - Time travel twist can’t save this mediocre....</b></h3></p>
                    </div>
                  </div>

                  <div class="card">
                    <img src=".../static/img/picture-2.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>On.19.sept.2022</h5>
                      <p><h3><b>Don’t Worry Darling Review: Olivia Wilde’s Sophomore Slump Thriller</b></h3></p>
                    </div>
                  </div>

            </div>
            
            <div class="subcontainer-2-item-ii">
                
                <div class="card">
                    <img src=".../static/img/picture-2.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>12 hours ago</h5>
                      <p><h3><b>Bandit Review: Josh Duhamel Charms as Clever Bank Robber...</b></h3></p>
                    </div>
                  </div>

                  <div class="card">
                    <img src=".../static/img/picture-6.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>12 hours ago</h5>
                      <p><h3><b>Black Panther: Wakanda Forever Winston Duke Reveals What He’s ‘Most...</b></h3></p>
                    </div>
                  </div>

                  <div class="card">
                    <img src=".../static/img/picture-7.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>On.21.sept.2022</h5>
                      <p><h3><b>The Woman King Review: Viola Davis Is A Bonafide Action Star In The Truly...</b></h3></p>
                    </div>
                  </div>

                  <div class="card">
                    <img src=".../static/img/picture-8.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h5>12 hours ago</h5>
                      <p><h3><b>The Enforcer Review: Antonio Banderas Cares and Kills.</b></h3></p>
                    </div>
                  </div>

            </div>

            <div class="subcontainer-2-item-iii">

            </div>

        </div>

    </div>
</body>
{% endblock %}