{% extends 'base.html' %}
{% load static %}

{%block title %}
{{ title }}
{% endblock %}

{% block content %}
<!-- movies category page stylesheet -->
<link rel="stylesheet" href="{% static 'css/category.css' %}">

<!-- <link rel="stylesheet" href="{% static 'css/author_profile.css' %}"> -->

<!-- enter page content here -->

<body>
  <!-- ===== HERO ===== -->
  <div class="hero">
    <p class="sub-heading">{{ title }}</p>
    <div class="description">{{ subtitle | safe}}</div>
  </div>

  <!-- =====PAGE DIVIDER===== -->
  <br>
  <br>

  <!-- =====ARTICLES===== -->
  <div class="latest-articles">
    <div class="articles-ctn">

      <!-- ===== ROW 1 ===== -->
        <div class="row1">

          {% for post in posts %}

            {% if forloop.counter == 1 %}
              <div class="article article1">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}

          {% for post in posts %}

            {% if forloop.counter == 2 %}
              <div class="article article2">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}


        </div>

      <!-- ===== ROW 2 ===== -->

      <div class="row2">

        {% for post in posts %}

            {% if forloop.counter == 3 %}
              <div class="article article1">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}

          {% for post in posts %}

            {% if forloop.counter == 4 %}
              <div class="article article2">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}


      </div>

      <!-- ===== ROW 3 ===== -->
      <div class="row3">

        {% for post in posts %}

            {% if forloop.counter == 5 %}
              <div class="article article1">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}

          {% for post in posts %}

            {% if forloop.counter == 6 %}
              <div class="article article2">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}

      </div>

      <!-- ===== ROW 4 ===== -->
      <div class="row4">

        {% for post in posts %}

            {% if forloop.counter == 7 %}
              <div class="article article1">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}

          {% for post in posts %}

            {% if forloop.counter == 8 %}
              <div class="article article2">
                  <img class="article-img" src="{{ post.cover_image.url }}" alt="Avatar" >
    
                <p class="time">
                  {{ post.date_published | date:"D F Y f a" }}
                </p>
    
                <p class="title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|truncatewords:40 }}  
                  </a>
                </p>
                
                <!-- ===== divider span ===== -->
                <span class="divider"></span>
    
                <div class="category-ctn">
                  <div class="comment">
                        <a href="#">{{ post.comments.count }} Comments</a> 
                  </div>      
    
                  <div class="article-category">
                    <a href="#">{{ post.tags.all|join:", " | truncatewords:1 }}</a>
                  </div>
                </div>
              </div>

            {% endif %}
          
          {% endfor %}
      </div> 

    </div>
    <!-- Latest Post Components -->
    <div class="tags-comp">

          {% include "tags.html" %}

    </div>
  </div>

  <!-- =====PAGE SLIDER===== -->
  {% include "paginator.html" with page=posts %}

</body>
{% endblock %}