{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<!-- contact page stylesheet -->
<link rel="stylesheet" href="{% static 'css/contact.css' %}">


<!-- enter page content here -->

   {% if messages %}
   
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>
    {% endfor %}

   {% endif %}

   <style>
    .alert-success {
     background-color: #d4edda;
     border-color: #c3e6cb;
     color: #155724;
     }
   </style>

    <form method="post">
        {% csrf_token %}

        <div class="form-title">
            <h2>Got Questions or feedbacks for us? Connect with us today!</h2>
            
        </div>

        <fieldset>
            <label for="name">
                <span class="label-text">Name</span>  
                <input id="name" name="name" type="text" required />
            </label>

            <label for="email">
                <span class="label-text">Email</span> 
                <input id="email" name="email" type="email" required />
            </label>

            <label for="message" >
                <span class="label-text">Message</span> 
                <textarea id="message" name="message" rows="25" columns="50" placeholder="Type your message..."></textarea>
            </label>
        </fieldset>

        <fieldset>
            <input id="submit-button" type="submit" value="Send Message" />
        </fieldset>

    </form>


{% endblock %}