{% extends 'base.html' %} 
{% load static %} 
{% block title %} Credits {% endblock %} 
{% block content %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'css/credits.css' %}" />
<script
src="https://kit.fontawesome.com/f118ba513f.js"
  crossorigin="anonymous">
</script>
<!-- enter the html here -->
<main class="credits">
    <section>
        <div class="first">
            <h2>We believe that the design process must always
                 consider how people use things in real life and lead to
                  solutions that are clear, honest, and genuinely useful</h2>
        </div>
        <hr>
        <div class="second">
            <p class="p-1">We are multidisciplinary that operate within a cooperative
                 framework, predicated on versatility, that puts data and 
                 research at the core of our approach, using what we've learnt to create meaningful digital products that connect with people.
            </p>
            <p class="p-2">Our in-house team is comprised of accomplished developers
                 and Designers. We rely on one another to share best 
                 practices, inform decisions around production, and lend
                  perspectives for a more complete vision. As technologies and trends shift, we improve and build upon our methodology - constantly adjusting procedures from research and ideation, to implementation, and ongoing assessment
            </p>
        </div>
    </section>

    <section>
        <div class="one">
            <h3>Meet Our Team...</h3>
            <section class="one-1">
                <div class="team">
                    <img src="{% static 'img/Jonathan.jfif' %}" alt="">
                    <div class="sec">
                        <h4>Jonathan Mmadu</h4>
                        <div class="icons">
                            <a href="https://github.com/Jozz77"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/JonathanOnyedi3"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/jonathan-mmadu-45a714219/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <p>Team Lead: Frontend</p>
                </div>
            </section>
        </div>

        <div class="two">
            <div class="team">
                <img src="{% static 'img/pearl.jfif' %}" alt="">
                <div class="sec">
                    <h4>Pelumi Olowookere</h4>
                    <div class="icons">
                        <a href="https://www.behance.net/thedesignmuse"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/Iammmpearl?t=fwXxbu6yXbABnAqYI700QQ&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/pelumi-olowookere-b30198217"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Lead Designer</p>
            </div>
        
            <div class="team">
                <img src="{% static 'img/ire.jfif' %}" alt="">
                <div class="sec">
                    <h4>Oluwaseun Ajayi</h4>
                    <div class="icons">
                        <a href="https://www.behance.net/oluwaseunajayiire"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/I_rewole"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="http://www.linkedin.com/in/oluwaseun-ajayi-4a67a5159"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Assistant Lead Designer</p>
            </div>
            <div class="team">
                <img src="{% static 'img/timi.jfif'%}" alt="">
                <div class="sec">
                    <h4>Timi Dolor</h4>
                    <div class="icons">
                        <a href="https://www.behance.net/timilehindolor"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="https://mobile.twitter.com/Timidolor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/Timidolor"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Designer</p>
            </div>
        
            <div class="team">
                <img src="{% static 'img/oyinade.jfif' %}" alt="">
                <div class="sec">
                    <h4>Oyinade Hillary</h4>
                    <div class="icons">
                        <a href="https://github.com/Oyinade3"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/Oyinn14"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/oyinade-adereti/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Frontend Lead</p>
            </div>
            <div class="team">
                <img src="{% static 'img/bolu.jfif'%}" alt="">
                <div class="sec">
                    <h4>Boluwatife Olusanya</h4>
                    <div class="icons">
                        <a href="https://github.com/gLitCH1904"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/t3ch_spawn?t=caPsAuxlztGrFZ8mstmjyQ&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/t3ch_spawn?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Assistant Frontend Lead</p>
            </div>
            <div class="team">
                <img src="{% static 'img/Ayo.jfif' %}" alt="">
                <div class="sec">
                    <h4>Ayomide Oke</h4>
                    <div class="icons">
                        <a href="https://github.com/mideD3V"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/mided3v?s=21&t=pR6NrGqt1kFoxsZ9GTWQ4g"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/mid3"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Frontend</p>
            </div>
            <div class="team">
                <img src="{% static 'img/rasheedat2.png'%}" alt="">
                <div class="sec">
                    <h4>Rasheedat Jinadu</h4>
                    <div class="icons">
                        <a href="https://github.com/Rasheedatj"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/RashedatJ?t=Dc9c7uN-BgDyYB6L2GiznQ&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/rashedat-jinadu-066078227"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    
                </div>
                <p>Frontend</p>
            </div>
            <div class="team">
                <img src="{% static 'img/stephany.jfif' %}" alt="">
                <div class="sec">
                    <h4>Stephany Ikebudu</h4>
                    <div class="icons">
                        <a href="https://github.com/stephikebudu"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/stephikebudu"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/stephikebudu"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Frontend</p>
            </div>
            <div class="team">
                <img src="{% static 'img/funmi.jfif' %}" alt="">
                <div class="sec">
                    <h4>Funmilayo Kalejaye</h4>
                    <div class="icons">
                        <a href="https://github.com/FunmiKay"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/FumezyK?t=Ammi1y6Vt0vSpCcMXkIR8Q&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/fumezykay002?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Frontend</p>
            </div>
            
        </div>
        <div class="third">
            <div class="team">
                <img src="{% static 'img/ade.jfif' %}" alt="">
                <div class="sec">
                    <h4>Adeala Adegbulugbe</h4>
                    <div class="icons">
                        <a href="https://github.com/Ahdeyyy"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/Ahdeyy21"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/Ahdeyyyy"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p>Backend Lead</p>
            </div>
        </div>
            
    
    </section>
</main>

{% endblock content %}