{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%} 
{% block content %}
<!-- homepage stylesheet-->
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<!-- enter page content here -->

<section class="hero">
    <div class="hero-content">
            <div class="hero-title">
                screened
            </div>
            <div class="hero-subtitle">
                Home for writers and movie lovers, Home for art...
            </div>
            <div class="hero-btns">
                <a href="{% url 'write_for_us' %}" class="wfu-btn">Write for us</a>
                <a href="#section-two" class="explore-btn">Explore</a>
            </div>
            <ul class="icons">
                <li><img src="../../static/img/twitter-icon.svg" alt=""></li>
                <li><img src="../../static/img/instagram.svg" alt=""></li>
                <li><img src="../../static/img/pinterest.svg" alt=""></li>
            </ul>
     </div>
</section>

<section class="number-sections" id="section-two">
    <div class="flex-container one">
        <div class="number-container">
            <div class="number">01</div>
            <div class="number-subtitle">about us</div>
        </div>
        <div class="flex-content">
            We are a movie-themed multi-author brand that  is focused on giving our audience (witers and visitors) the best experience and information they need.
        </div>
        <div class="flex-content">
            Our site is up and running 24 hours daily, 7 days weekly, 365 days yearly. Simply put, we are a brand that responds to our users needs in real-time.
            <div><a href="{% url 'about' %}"class="cream-color-link desktop-lnk">Read More</a></div>
        </div>
        <div><a href="{% url 'about' %}"class="cream-color-link mobile-lnk">Read More</a></div>
    </div>
    <hr>
    <div class="flex-container two">
        <div class="number-container">
            <div class="number">02</div>
            <div class="number-subtitle">our services</div>
        </div>
        <div class="flex-content">
            <div class="flex-title">Movie-zone</div>
            We provide our visitors with with latest movie collections and suggestions. At Screened, you get top movie recommendations and also get to share your opinion on a movie with us for feedback.
        </div>
        <div class="flex-content">
            <div class="flex-title">Writers Hub</div>
            Are you a writer that is skilled in writing movie scripts?  We need you and have been looking for you! Visit our <a href="{% url 'write_for_us' %}" class="cream-color-link">Write for Us page</a> to get started. 
        </div>
    </div>
    <div class="flex-content">
      Our site is up and running 24 hours daily, 7 days weekly, 365 days yearly.
      Simply put, we are a brand that responds to our users needs in real-time.
      <div><a href="" class="cream-color-link desktop-lnk">Read More</a></div>
    </div>
    <div><a href="" class="cream-color-link mobile-lnk">Read More</a></div>
  </div>
  <hr />

  <div class="flex-container">
    <div class="number-container">
      <div class="number">03</div>
      <div class="number-subtitle">movies</div>
    </div>
    <div>
      <ul class="flex-images">
        <li>
          <img src="../../static/img/exorcism-of-god-movie-poster.png" alt="" />
        </li>
        <li>
          <img
            src="../../static/img/doctor-strange-multiverse-of-madness.png"
            alt=""
          />
        </li>
        <li><img src="../../static/img/DON-poster.png" alt="" /></li>
      </ul>
      <div class="block-img">
        <img src="../../static/img/RRR-poster.png" alt="" />
      </div>
    </div>
  </div>
  <hr />
  <div class="flex-container">
    <div class="number-container">
      <div class="number">04</div>
      <div class="number-subtitle">tV series</div>
    </div>
    <div class="images">
      <ul class="flex-images">
        <li>
          <img src="../../static/img/vincenzo_poster_main_0 2.png" alt="" />
          <div class="img-subtitle">Vincenzo</div>
        </li>
        <li>
          <img src="../../static/img/euphoria-poster.png" alt="" />
          <div class="img-subtitle">Euphoria</div>
        </li>
        <li>
          <img src="../../static/img/go-away-poster.png" alt="" />
          <div class="img-subtitle">Romantic Doctor</div>
        </li>
      </ul>
      <div class="block-img">
        <img
          src="../../static/img/the-lord-of-the-rings-the-rings-of-power 1.png"
          alt=""
        />
        <div class="img-subtitle">Rings of Power</div>
      </div>
    </div>
  </div>
  <hr />
</section>

<section class="top-picks">
    <div class="img-column">
        <p class="top-picks-heading">Top picks for you</p>
        <ul>
            <li>
                <div><img src="../../static/img/End-of-the-Road-il-film-action-Netflix-con-Queen-Latifah-e-Chris-Bridges-arriva-oggi-960x640 1.png" alt=""></div>
            </li>
            <li>
                <div><img src="../../static/img/halftime-poster.png" alt=""></div>
            </li>
            <li>
                <div><img src="../../static/img/the-pirates 1.png" alt=""></div>
            </li>
            <li>
                <div><img src="../../static/img/the-invisible-man.png" alt=""></div>
            </li>
            <li>
                <div><img src="../../static/img/the-good-doctor.png" alt=""></div>
                <div class="arrow">→</div>
            </li>
        </ul> 
    </div>
    <div class="post-tags">
        <div class="latest-post">
           
            <ul>
                <li class="HOD-post">
                     <div class="post-title">
                       latest post 
                    </div>
                    <div class="post-subtitle">
                        <div>1</div>
                        <div>House of the Dragon Episode 1 Recap &  Review</div> 
                    </div>
                </li>
                <li>2) Expectation from Squid Game Season 2</li>
                <li>3) The Discovery Of Witches Season 3 Review</li>
                <li>4) Little Women – K-Drama Episode 5 Recap & Review</li>
                <li>5) Big Mouth Episode 7 Recap & Review</li>
                <li>6) The Sandman Season 1 Review</li>
                <li>7) Locke and Key Season 3</li>
                <li>8) Best Anime 2022</li>
                <li>9) Break Out Kdrama actors 2022</li>
                <li>10) 10 Upcoming movies/Series on Netflix </li>
            </ul>
            <a class='more-lnk' href="">More</a>
        </div>
        <div class="tags">
            <div class="tags-title">
               Tags 
            </div>
           <ul>
            <li>
                <a href="">Kdrama</a>
                <a href="">Action</a>
                <a href="">Romance</a>
            </li>
            <li>
                <a href="">Bollywood</a>
                <a href="">Anime</a>
                <a href="">Actors</a>
            </li>
            <li>
                <a href="">Chinese Series</a>
                <a href="">Spanish series</a>
            </li> 
            <li>
                <a href="">Comedy</a>
                <a href="">Horror</a>
                <a href="">Sci Fi</a>
            </li>
            <li>
                <a href="">Thai Series</a>
                <a href="">Unpopular Opinion</a>
            </li>
           </ul> 
        </div>
    </div>
  </div>
</section>

{% endblock %}
