{% extends 'base.html' %}
{% load static %}

{%block title %}
Home
{% endblock %}

{% block content %}
<!-- homepage stylesheet-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<!-- enter page content here -->
<p>hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam velit possimus dolorum incidunt id? Sed sequi, qui pariatur sunt fuga dolore. Soluta debitis minima odio temporibus blanditiis obcaecati atque possimus?
Tempora quas vitae dicta maiores soluta optio molestias deleniti perferendis aliquid, ducimus nesciunt, consequuntur autem consequatur, quis similique a natus aut suscipit alias. Consectetur libero reiciendis ipsum cumque. Illo, quis.</p>
{% include 'footer.html' %}
{% endblock %}
