{% extends 'base.html' %}
{% load static %}

{%block title %}
Terms of Service
{% endblock %}

{% block content %}
<!-- Terms of service page stylesheet -->
<link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
<link rel="stylesheet" href="{% static 'css/terms_of_service.css' %}">

<!-- enter page content here -->

  <body>
    <div id="title">
      <p>Terms of Service</p>
    </div>
    <div class="content-ctn">
      <p class="sub-heading">Movie Web Terms of Use</p>
      <p class="content">
        Movie Web Terms of Use
The following Terms of Use refer to websites, applications and services provided by Screened Inc. These Terms of Use will govern your access and use of the websites and services provided by Screened Inc., and any all of its brands, entities that it controls, including Screened.
<br> <br>
Please read the following Terms of Use (“Terms”) carefully before using the Website Screened (and all extensions) (the “Website” “Screened”). The Terms of Use covers all of Screened (“Screened Sites”) and any or all associated content, including but not limited to, emails, RSS feeds and videos.
<br> <br>
By using the Website, you agree to be bound by the Terms of Use. If you do not agree to be bound by these Terms of Use, discontinue use of the Website. protection of personal data has a very high priority at reelviews.net. We collect, store and process personal data exclusively in accordance with the applicable data protection regulations. Our websites may contain links to websites of other providers, to which this privacy policy does not extend. We can not assume any liability for the handling of third parties with your personal data. We point out that data transmission over the internet (e-mail, for example) can have security gaps. A complete protection of the data from access by third parties is not possible. Our privacy policy applies solely to the use of the data by Screened.moviez.
</p>

<p class="sub-heading">
Use of content</p>
<p class="content">
 MovieWeb is intended solely for your personal and non-commercial use, and not for the use or benefit of any third party. If you are below the age of consent under applicable law in the jurisdiction in which you reside, your parent or legal guardian must read and accept the Terms of Use in your name and on your behalf.
<br> <br>
MovieWeb allows its original content to be made available for non-commercial reproduction with a mandatory credit to the Website MovieWeb with both a link to the website and logo displayed. You may also reproduce extracts or quotes or screenshots with a mandatory credit to the Website MovieWeb with both a link to the website.
<br> <br>
In any non-commercial reproduction, you may not suggest that MovieWeb endorsed you or your use of the work.
<br> <br>
The rights granted to you shall in no way affect your fair dealing or fair use rights, or other applicable copyright exceptions and limitations and/or rights other persons may have either in the work itself or in how the work is used, such as publicity or privacy rights.
<br> <br>
This does not include the right to republish images from MovieWeb, for which MovieWeb may not be the copyright holders, except in the context of a screenshot of the whole website. MovieWeb makes no representations, warranties or guaranties for third party use of content that appears on the Website.
<br> <br>
All other copying, rearrangement, broadcast, rewriting for broadcast or publication, redistribution, modification, use or publication by you in any medium, directly or indirectly, of any such matters or any part of the Website, including the removal or alteration of advertising, except for limited rights of use granted hereunder, is strictly prohibited.
<br> <br>
In any circumstance, the content may not be used on any site that promotes adult content (pornography), hate, racism or any illegal content.

</p>

<p class="sub-heading">
Use of content</p>

<p class="content">
 The content provided by MovieWeb is on an “as is” basis and Screened shall not be held liable for your use of the information, the content, feeds, etc. Use of the site is at your discretion. Screened shall not be responsible for any complaints regarding content or images you choose to display on your site or in print.
<br> <br>
Screened is not connected in any way with any of the celebrities, brands or other items mentioned on this Website. Information about net worth, item value, etc. is approximate and may not be correct and/or actual. Other articles and content are opinion-based (or commentary) and should not be considered factual. You agree that Screened shall not be held liable for such incorrect information or inaccuracies.
<br> <br>
All the images on Screened are not our property nor under our Copyrights. If any Image is offensive or under your Copyright then please E-mail us to have it removed at .
</p>

<p class="sub-heading">
Comment</p>

<p class="content">
 The Website allows users to comment and/or discuss the content on the Website. In posting comments you agree to abide by the following guidelines:
<br> <br>
Users/visitors may post comments as long as the content of such comment is not illegal, obscene, threatening, libelous or racist and conforms to the Terms of Use herein. The content of such statement shall not invade someone’s privacy or infringe anyone’s intellectual property rights or be reprehensible.
<br> <br>
The user/visitor shall remain responsible for the content of their statement. As such, the Website does not control the content of statements posted and cannot guarantee the accuracy, reliability, nor the veracity of the information published on this Website. The Website cannot be held responsible for the content, existence, nature, quality, legality, security and conformity of any comment posted on this Website.
<br> <br>
You agree to communicate information that is true and genuine and is not in breach of any law or regulation in force.
<br> <br>
Allegations that are unfounded or libelous are forbidden. It is your responsibility to ensure that your statement is as explicit and argumentative as possible.
<br> <br>
Usurping the identity of an individual or of an entity is forbidden. It is also forbidden to mislead someone regarding the source of a comment or statement.
<br> <br>
Please make sure your contributions are relevant and appropriate.
<br> <br>
The comment or review being posted is for use on the Website not person or place or company in question, nor is the Website affiliated with the said individual or company in any manner whatsoever. The Website is not responsible for your decision to post personal information.
<br> <br>
Please contribute with helpful and polite comments. Do not personally attack anyone or post comments that are insulting, defamatory or racist which expose you to potential legal action. The Website reserves the right to modify or delete comments which breach the Website’s policies.
<br> <br>
The Website may at any time and at its entire discretion, suppress any such content. It is understood that the Website does not have the obligation to review all postings/comments.
<br> <br>
All comments are considered property of the Website and all correspondence is considered available for publication. By submitting a comment, posting or article, you agree that your comments may be edited to correct errors, remove obscenities or hateful language, or otherwise alter or remove your comment, posting or article from this weblog without notice to you. Email addresses submitted with comments will not be sold or spammed.

</p>

<p class="sub-heading">
Inappropriate Comment</p>

<p class="content">
Any interested party can request for the deletion or modification of a comment if he is the subject of such comment and if the content of such comment is in breach with the Terms of Use. A demand for the withdrawal of a comment shall be sent to with a link to the comment and the reason for it to be deemed in breach. An answer to your request will be available within 48 to 72 hours. A disagreement with a review or comment does not constitute a motive for deletion or modification.
<br> <br>
The Website is not responsible regarding the content of any statement (comment or other) submitted by its users. The Website may, further to a complaint or a comment, look at the content of any statement and edit out in whole or in part any statement that is either inappropriate, libelous, untrue or in breach with the Terms of Use. Such complaints in relation to comments may be sent to .
      </p>

      
    </div>
  </body>

{% endblock %}