<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".../static/css/write_for_us.css">
    <title>Write For Us</title>
</head>
<body>
    <header class="write-hero-section">

        <img src="./images/hero.png" alt="hero image" class="write-hero-image"/>

        <div id="write-hero-title">WRITE FOR US</div>

        <button id="write-hero-button">Join Us Here</button>
        
    </header>
    <main>

        <div class="main-container">

            <div class="subcontainer-1">
                <h2 class="page-subtitle">Are you a writer? <span id="we-need-you">We Need You</span></h2>

                <div class="write-paragraph-section">
                    <div class="write-paragraph">
                        <p class="write-paragraph-title">Interested In Being A Writer For MovieWeb?</p>
                        <p>We are always looking for strong passionate writers who are motivated to develop and write engaging content.</p>
                    </div>

                    <div class="write-paragraph">
                        <p class="write-paragraph-title">What We Are Looking For</p>
                        <p>We are looking for writers who can produce in-depth premium content with expert knowledge in one or more of Screened featured categories.</p>
                    </div>

                    <div class="write-paragraph">
                        <p class="write-paragraph-title">Contributor Program Facts</p>
                        <p>Two very important facts about our contributor program:</p>
                    </div>

                    <div class="write-paragraph">
                        <p>Will I get credit as the author? <a href="#" class="write-paragraph-link">YES</a></p>
                        <p>Will I get paid? <a href="#" class="write-paragraph-link">YES</a></p>
                        <p>Apply Today!</p>
                        <p>If you think you have what it takes and you are ready to write in-depth premium content, apply today to become a contributor . <a href="#" class="write-paragraph-link">HERE</a></p>
                    </div>

                    <div class="write-paragraph" id="write-last-paragraph">
                        <p><span id="note">Note:</span> We do not accept any guest posts at the moment.</p>
                    </div>
                </div>
            </div>

            <div class="broken-divider"></div>

            <div class="subcontainer-2">
                <h2 class="page-subtitle">Meet <span id="our-top-writers">Our Top Writers</span></h2>

                <div class="writer-card-collection">
                    <div class="card-collection-row-1">
                        <div class="writer-card">
                            <div class="writer-image"></div>
                            <p class="writer-name">Stephany Karl</p>
                            <p class="writer-title">Script Writer</p>
                            <div class="star-main-container">
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                            </div>
                        </div>
                        <div class="writer-card">
                            <div class="writer-image" id="second-image"></div>
                            <p class="writer-name">Jeremy  Smith</p>
                            <p class="writer-title">Script Writer</p>
                            <div class="star-main-container">
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                            </div>
                        </div>
                        <div class="writer-card">
                            <div class="writer-image" id="third-image"></div>
                            <p class="writer-name">Emily Brown</p>
                            <p class="writer-title">Editor</p>
                            <div class="star-main-container">
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="no-star-rating"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card-collection-row-2">
                        <div class="writer-card">
                            <div class="writer-image" id="fourth-image"></div>
                            <p class="writer-name">Tobi Ogundele</p>
                            <p class="writer-title">Editor</p>
                            <div class="star-main-container">
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="no-star-rating"></div>
                            </div>
                        </div>

                        <div class="writer-card">
                            <div class="writer-image" id="fifth-image"></div>
                            <p class="writer-name">Benita Emm</p>
                            <p class="writer-title">Article Writer</p>
                            <div class="star-main-container">
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                            </div>
                        </div>

                        <div class="writer-card">
                            <div class="writer-image" id="sixth-image"></div>
                            <p class="writer-name">Anthony Patrick</p>
                            <p class="writer-title">Script Writer</p>
                            <div class="star-main-container">
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="star-rating"></div>
                                <div class="no-star-rating"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="last-cta">
                    <p>Want to join our team of writers? <span id="start-here">Start Here</span></p>
                </div>
            </div>

        </div>
    </main>
</body>
</html>






























<!-- {% extends 'base.html' %}
{% load static %}

{% block title %}
Write for Us
{% endblock %}

{% block content %} -->
<!-- font awesome link -->
<!-- <script src="https://kit.fontawesome.com/2bfe15d79d.js" crossorigin="anonymous"></script> -->
<!-- swiper stylesheet -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/> -->
<!-- Write for Us page stylesheet -->
<!-- <link rel="stylesheet" href="{% static 'css/write_for_us.css' %}"> -->

<!-- enter page content here -->

<!-- hero section -->
<!-- <section class="hero">
<div class="container-1">
    <div class="line1">
      <img src="{% static 'img/Line 3.png' %}" alt="" />
    </div>
    <div class="title title1">
      <h2>Write</h2>
    </div>
  </div>
  
  <div class="container-2">
    <div class="line2">
      <img src="{% static 'img/Line 3.png' %}" alt="" />
    </div>
    <div class="title">
      <h2>for</h2>
    </div>
  </div>
  <div class="container-3">
    <div class="line">
      <img src="{% static 'img/Line 3.png' %}" alt="" />
    </div>
    <div class="title">
      <h2>Us</h2>
    </div>
  </div>
</section>

   

    <section class="content-container">

      <div class="box-container ">
          <h1>Choose your copy type</h1>
          <div class="script-type">
              <p>Movie script</p>
          </div>
          <div class="blog-type">
              <p>Blog article</p>
          </div>
          <div class="product-type">
              <p class="end">Product description</p>
          </div>
      </div>
  
      <div class="box-container">
          <h1>Enter niche or keywords</h1>
          
          <div class="white-space one">
              <button class="suspense ">Suspence, Sci-fi</button>
              <button class="romance">Romance</button>
              <button class="horror">Horror</button>
          </div>
      </div>
  
      <div class="box-container">
          <h1>Write cover and submit</h1>

          <div class="white-space two">
              <button class="cover">Write cover</button>
              <button class="submit">Submit</button>
          </div>

      </div>
  </section> -->

  <!-- meet our writers -->
 <!-- <section class="writers">
  <h1>meet our writers</h1>

      <div class="swiper mySwiper gallery">
          <div class="swiper-wrapper gallery-box-container">
            <div class="swiper-slide">
              <img src="/static/img/writer-2.jpg" alt="writer two">
              <div class="writer-info">
                  <h1>spephany karl</h1>
                  <p>script writer</p>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
              </div>
            </div>

            <div class="swiper-slide">
              <img src="/static/img/writer-1.jpg" alt="script writer">
              <div class="writer-info">
                  <h1>jeremy smith</h1>
                  <p>script writer</p>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
              </div>
            </div>

            <div class="swiper-slide">
             <img src="/static/img/writer-3.jpg " alt="writer three">
              <div class="writer-info">
                  <h1>emily brown</h1>
                  <p>editor</p>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star white-star"></i>
                  </div>
              </div>
            </div>
          </div>
        </div>
  
        <p>Want to join our team of writers? <a href="
          {% url 'user:signup' %}">start here</a></p>
 </section>
 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> -->

 <!-- swiper inline javascript -->
 <!-- <script>
  var swiper = new Swiper(".mySwiper", {
    loop:true,
    grabCursor:true,
    spaceBetween: 20,
    breakpoints: {
        350: {
          slidesPerView: 1.5
         
        },
        768: {
          slidesPerView: 1.5,
           
        },
        1200: {
            slidesPerView: 2.5,
            
          },
      },
  });
 </script> -->

  

<!-- {% endblock %} -->