{% extends 'base.html' %}
{% load static %}

{% block title %}
Write for Us
{% endblock %}

{% block content %}
<!-- Write for Us page stylesheet -->
<link rel="stylesheet" href="{% static 'css/write_for_us.css' %}">

<!-- enter page content here -->

<!-- hero section -->

<div class="container">
    <div class="line">
      <img src="{% static 'img/Line 3.png' %}" alt="" />
    </div>
    <div class="title">
      <h2>About</h2>
    </div>
  </div>
  
  <div class="container-2">
    <div class="line">
      <img src="{% static 'img/Line 3.png' %}" alt="" />
    </div>
    <div class="title">
      <h2>Us</h2>
    </div>
  </div>


<section class="body">

    <section class="container">
        <div class="box-container ">
            <h1>choose your copy type</h1>
            <div class="script-type">
                <p>movie script</p>
            </div>
            <div class="blog-type">
                <p>blog article</p>
            </div>
            <div class="product-type">
                <p>product description</p>
            </div>
        </div>
    
        <div class="box-container">
            <h1>enter niche or keywords</h1>
        </div>
    
        <div class="box-container">
            <h1>write cover and submit</h1>
        </div>
    </section>
</section>
  

{% endblock %}