@import url('http://fonts.cdnfonts.com/css/spectral');

:root {
  --nav-background-color: #080808;
  --body-bg-color:  #E5E5E5;
  --body-text-color: #080808;
  --hero-button-color: #F81E4F;
  --hero-text-color: #FFFFFF;
  --span-text-color: #F81E4F;
  --search-bg-color: rgba(255, 255, 255, 0.8);
  --search-text-color: #080808;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #121212;
  --404-text-color: #5F6362;
  --about-movies-bg: #253D5B;
  --about-TV-bg: #380036;
  --about-anime-bg: #4C6663;
  --privacy-background-color: #363636;
  --privacy-text-color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Spectral', sans-serif;
    background-color: #F9F9F9;
    position: relative;
} 
.not{
    padding-top: 20vh;
}

.error{
position: absolute;
width: 1009px;
height: 913px;
left: -400px;
bottom: 400px;
color: #ADB1B44D;

font-family: 'Spectral';
font-style: normal;
font-weight: 700;
font-size: 300px;
line-height: 913px;

transform: rotate(-90deg);
z-index: -1;
}

.container{
    width: 100%;

}
.first-container h1{
    font-size: 9rem;
    color: #797979;
    text-align: center;
    font-family: 'Spectral';
    font-weight: 700;    
}
.second-container{
    font-size: 3rem;
    color: #797979;
    text-align: center;
    padding:  1.5rem 10%;
    font-weight: 500;
    line-height: 40px;  
}

.last-container{
    font-size: 32px;
    color: #d2b48c;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    padding-top: 5vh;
    padding-bottom: 15vh;
    
}
.a{
    color: #d2b48c;
    text-decoration: none;
}
.last-container a{
    color: #d2b48c;
}

@media screen and (min-width: 0px) and (max-width:600px){
    .not{
        padding-top: 20vh;
    }
    
    .error{
    position: absolute;
    width: 1009px;
    height: 913px;
    left: -400px;
    bottom: 400px;
    color: #ADB1B44D;
    
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 700;
    font-size: 300px;
    line-height: 913px;
    
    transform: rotate(-90deg);
    z-index: -1;
    }
    
    .container{
        width: 100%;
    
    }
    .first-container h1{
        font-size: 6rem;
        color: #797979;
        text-align: center;
        font-family: 'Spectral';
        font-weight: 700;    
    }
    .second-container{
        font-size: 2rem;
        color: #797979;
        text-align: center;
        padding:  1.5rem 10%;
        font-weight: 500;
        line-height: 40px;  
    }
    
    .last-container{
        font-size: 2rem;
        color: #d2b48c;
        font-weight: 700;
        line-height: 15px;
        text-align: center;
        text-decoration: underline;
        padding-top: 5vh;
        padding-bottom: 15vh;
    }
    .last-container a{
        color: #d2b48c;
    }
}






