@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --nav-background-color: #080808;
  --body-bg-color:  #E5E5E5;
  --body-text-color: #080808;
  --hero-button-color: #F81E4F;
  --hero-text-color: #FFFFFF;
  --span-text-color: #F81E4F;
  --search-bg-color: rgba(255, 255, 255, 0.8);
  --search-text-color: #080808;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #121212;
  --404-text-color: #5F6362;
  ---privacy-background-color: #363636;
  --privacy-text-color: #363636;
}
body {
  font-family: "Spectral", sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  scroll-behavior: smooth;
  /* max-width: 1440px; */
}
.about-us a{
  text-decoration: none;
}

.first-section {
  background-image: url(../img/about-hero.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 70vh;
  margin-top: 7vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.first-section h1{
  padding-top: 15vh;
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 68px;
}

.first-section a{
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 31px;
  border-radius: 10px;
  background-color: var(--hero-button-color);
  color: var(--hero-text-color);
  height: 10vh;
  width: 20%;
  padding-top: 2vh;
  margin: 3vh 40% 0;
}