@import url("http://fonts.cdnfonts.com/css/spectral");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
  --constant-text-color: #ffffff;
}
body {
  font-family: "Spectral", sans-serif;
  background-color: var(--body-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  margin: 100px 50px 20px 100px;
}

#author-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.author-bio {
  margin-left: 30px;
  margin-top: 20px;
  max-width: 70%;
}

.author-socials > a > i {
  margin-right: 25px;
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 25px;
  text-decoration: none;
}
.name {
  font-size: 3rem;
  color: var(--cream-highlight);
}
.brief {
  max-width: 70%;
  font-size: 2rem;
  color: var(--text-color);
}

/* =====PAGE BREAK===== */
hr {
  color: var(--footer-bg-color);
  margin: 5rem 0 0;
}

/* LATEST ARTICLE SECTION */
.sub-heading {
  font-size: 3.5rem;
  margin: 20px 100px;
  color: var(--cream-highlight);
  padding-top: 3rem;
}

.latest-articles {
  display: flex;
  margin: 0 100px;
}
.articles-ctn {
  flex: 60%;
  max-width: 75%;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
}

.article {
  width: 60%;
  padding: 0;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-bottom: -7rem;
  color: var(--text-color);
}
/* .article{
  margin-top: 5rem;
} */
.article-img {
  width: 100%;
  height: 50%;
}
.time {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-right: 0;
  color: var(--text-color);
  width: 50%;
}
.title {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.1rem;
  font-weight: 500;
  margin: 1.2rem 0 0;
  max-width: 85%;
}

.title:hover {
  color: var(--cream-highlight);
  transition: ease-in-out 0.1s 0.3;
}

.divider::after {
  content: "_____________________________________________________";
  display: block;
  width: 90%;
  overflow: hidden;
  color: var(--footer-bg-color);
}
.comment,
.article-category {
  color: var(--text-color);
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 1rem;
}
.comment {
  margin-right: 5rem;
}

/* =======LATEST POST STYLE====== */
.tags-comp {
  flex: 30%;
  width: 100%;
  margin-top: 5rem;
  font-size: 1.8rem;
  margin-left: 5rem;
}

/* =====STYLE FOR PAGE SLIDER===== */
.page-slider {
  margin: 10rem 40%;
  display: flex;
}
.page-slider > a:hover {
  background-color: var(--cream-highlight);
  transition: ease-in.5s;
}
.page-slider > a {
  font-size: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  margin-right: 1.2rem;
  text-decoration: none;
}
#active-slider {
  color: var(--cream-highlight);
  border: 1px solid var(--cream-highlight);
}

footer {
  margin-top: 25rem;
}

/* =========MEDIA QUERY = 600PX========= */

@media screen and (max-width: 600px) {
  body {
    margin: 0%;
    max-width: 600px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 90%;
    margin: 15rem 3rem;
  }

  .author-bio {
    margin-top: 3rem;
    max-width: 100%;
    margin-left: 0px;
  }

  .author-bio > .name {
    font-size: 5rem;
  }

  .author-bio > .brief {
    font-size: 2rem;
    max-width: max-content;
  }

  .latest-articles {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }

  hr {
    margin: -10rem 0 5rem;
  }

.sub-heading {
    margin-left: 3rem;
    margin-top: -3rem;
    font-size: 10rem;
    font-weight: 700;
  }

  .row1,
  .row2,
  .row3,
  .row4,
  .row5 {
    display: block;
    margin: 5rem 0;
    flex-wrap: wrap;
    flex-grow: 5;
    width: 130%;
  }

  .article {
    width: 100%;
    margin-top: 5rem;
  }
  .article-img {
    width: 100%;
    height: 35rem;
    margin-top: 7rem;
  }
  .article > .comment,
  .article > .article-category,
  .article > .time {
    font-size: 1.8rem;
  }
  .article .title {
    width: 100%;
    font-size: 2.5rem;
  }

  .tags-comp {
    width: 80%;
    margin: 10rem 0 0;
  }

  .page-slider {
    display: none;
  }
}
/* =====MEDIA QUERY = 814PX======== */
@media screen and (max-width: 900px) {
  .latest-articles {
    display: block;
  }
  .page-break::after {
    width: 50%;
  }
  .title {
    font-size: 2rem;
  }
  .sub-heading {
    font-size: 2.5rem;
  }
  .article{
    margin-top: 10rem;
  }
}
