@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
}
body {
  font-family: "Spectral", sans-serif;
  background-color: var(--body-bg-color);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  margin: 100px 50px 20px 100px;
}

#author-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.author-bio {
  margin-left: 30px;
  margin-top: 20px;
  max-width: 70%;
}

.author-socials > i {
  margin-right: 25px;
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 25px;
}
.name {
  font-size: 2.5rem;
  color: var(--cream-highlight);
}
.brief {
  max-width: 60%;
  font-size: 1.8rem;
  color: var(--text-color);
}

/* =====PAGE BREAK===== */
.page-break::after {
  content: "______________________________________________________________________________________________________________________________________________";
  justify-content: center;
  color: var(--write-for-us-bg-color);
  max-width: 100%;
  overflow: hidden;
  margin: 200px 0;
  font-size: 2.5rem;
  word-wrap:break-word;
    white-space:nowrap;
}

/* LATEST ARTICLE SECTION */
.sub-heading {
  font-size: 2.5rem;
  margin: 20px 100px;
  color: var(--cream-highlight);
  margin-bottom: -5rem;
  padding-top: 3rem;
}

.latest-articles {
  display: flex;
  margin: 0 100px;
}
.articles-ctn {
  flex: 70%;
  max-width: 90%;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  margin: 0;
}
.article {
  width: 35rem;
  padding: 0;
  margin-top: 10rem;
  margin-right: 0.5rem;
  color: var(--text-color);
}
/* .article{
  margin-top: 5rem;
} */
.article-img {
  width: 30rem;
  height: 25rem;
}
.time {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-right: 0;
  color: var(--text-color);
  width: 50%;
}
.title {
  color: var(--text-color);
  font-size: 2rem;
  margin: 1.2rem 0 0;
  max-width: 85%;
}

.divider::after {
  content: "___________________________________________________";
  display: block;
  width: 90%;
  overflow: hidden;
  color: var(--write-for-us-bg-color);
}
.comment,
.article-category {
  color: var(--text-color);
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
}
.comment {
  margin-right: 10rem;
}

/* =======LATEST POST STYLE====== */
.tags-comp {
  flex: 20%;
  /* width: 5rem;
  gap: 1rem; */
  height: 150vh;
  position: sticky;
  justify-content: right;
  margin-top: 10rem;
}

/* =====STYLE FOR PAGE SLIDER===== */
.page-slider {
  margin: 10rem 70em;
  display: flex;
}
.page-slider > a {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  margin-right: 3px;
}
#active-slider {
  /* background-color: rgb(149, 217, 223); */
  color: var(--cream-highlight);
  border: 1px solid var(--cream-highlight);
}

footer {
  margin-top: 25rem;
}

/* =========MEDIA QUERY========= */

@media screen and (max-width:600px){
  .hero{
    display: flex;
    flex-direction: row;
  }
  
}