@import url("https://fonts.cdnfonts.com/css/spectral");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


:root {
  --nav-background-color: #080808;
  --body-bg-color:  #E5E5E5;
  --body-text-color: #080808;
  --hero-button-color: #F81E4F;
  --hero-text-color: #FFFFFF;
  --span-text-color: #F81E4F;
  --search-bg-color: rgba(255, 255, 255, 0.8);
  --search-text-color: #080808;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #121212;
  --404-text-color: #5F6362;
  --about-movies-bg: #253D5B;
  --about-TV-bg: #380036;
  --about-anime-bg: #4C6663;
  --privacy-background-color: #363636;
  --privacy-text-color: #FFFFFF;
}
body {
  font-family: "Spectral", sans-serif;
  background-color: var(--body-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  margin: 10em 50px 20px 7em;
}

#author-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  margin-bottom: 2rem;
}

/* style for edit profile button and modal */
#edit-profile{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--cream-highlight);
  transition: 0.5s ease;
  display: block;
  padding: .4em .65em;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: inherit;
}
#edit-profile:hover {
  transform: scale(1.05);
}
#modal{
    display: none;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}
#modal-content{
  font-size: 1.5rem;
  padding: 2em;
  background-color: var(--constant-text-color);
  color: #000;
  /* width: 60%; */
  max-height: 90vh;
  width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #fff;
  overflow: auto;
}
.close{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close img{
  width: 60px;
  height: 60px;
}
#close-modal{
  cursor: pointer;
}
#modal-content hr{
  margin: 2rem 0;
}
#editing-form label,
#editing-form input{
  display: block;
}
#editing-form label,
#editing-form p{
  margin-bottom: 1rem;
  text-transform: capitalize;
}
#editing-form input,
#editing-form textarea{
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--footer-bg-color);
  width: 100%;
  padding: 1rem;
  outline: none;
}
#editing-form textarea{
  resize: none;
  height: 100px;
}
#editing-form textarea:focus,
#editing-form input:focus{
  border: 1px solid var(--text-gold-color);
}

.reset-page-link{
  color: var(--text-gold-color);
  text-decoration: none;
}
#modal button{
  background-color: var(--text-gold-color);
  padding: 1.25rem 2.5rem;
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
/* end of modal styling */

.author-bio {
  margin-left: 30px;
  margin-top: 20px;
  max-width: 70%;
}

.author-socials > a > i {
  margin-right: 25px;
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 25px;
  text-decoration: none;
}
.author-socials a i:hover{
  transform: scale(1.05);
}
.name {
  font-size: 3rem;
  color: var(--cream-highlight);
}
.brief {
  max-width: 70%;
  font-size: 2rem;
  color: var(--text-color);
}

/* =====PAGE BREAK===== */
hr {
  color: var(--footer-bg-color);
  margin: 5rem 0 0;
}

/* LATEST ARTICLE SECTION */
.sub-heading {
  font-size: 3.5rem;
  margin: 20px 7rem;
  color: var(--cream-highlight);
  padding-top: 3rem;
}

.latest-articles {
  display: flex;
  margin: 0 7rem;
}
.articles-ctn {
  flex: 60%;
  max-width: 90%;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  margin-top: 5rem;
}

.article {
  width: 50%;
  padding: 0;
  margin-top: 0rem;
  margin-right: 5rem;
  margin-bottom: 0rem;
  color: var(--text-color);

}
.article:hover{
  cursor: pointer;
  scale: 1.05;
  border-radius: 1rem;
  transition: ease-in-out 0.5s;
}

/* .article{
  margin-top: 5rem;
} */
.article-img {
  width: 100%;
  height: 60%;
}
.time {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 0;
  color: var(--text-color);
  width: 50%;
}
.title {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.1rem;
  font-weight: 500;
  margin: 1.2rem 0 0;
  max-width: 85%;
}

.title:hover {
  color: var(--cream-highlight);
  transition: ease-in-out 0.1s 0.3;
}

.divider::after {
  content: "____________________________________________________________________";
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--text-color);
}
.comment,
.article-category {
  color: var(--text-color);
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
}
.comment {
  margin-right: 17rem;
}

.comment:hover,
.article-category:hover {
color: var(--cream-highlight);
}
.category-ctn{
  display: flex;
  flex-direction: column;
}


/* 
.comment:hover,
.article-category:hover{
  .category-ctn >a:hover{
color: var(--cream-highlight);
}
} */

/* =======LATEST POST STYLE====== */
.tags-comp {
  flex: 20%;
  width: 100%;
  margin-top: 5rem;
  font-size: 1.8rem;
  margin-left: 10rem;
}

/* =====STYLE FOR PAGE SLIDER===== */
.page-slider {
  margin: 10rem 30%;
  display: flex;
}
.page-slider > a:hover {
  background-color: var(--footer-bg-color);
  transition: ease-in .5s;
  transform: scale(
    1.07);
}
.page-slider > a {
  font-size: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  margin-right: 1.2rem;
  text-decoration: none;
}
#active-slider {
  color: var(--cream-highlight);
  border: 1px solid var(--cream-highlight);
}





/* =========MEDIA QUERY = 700PX========= */

@media screen and (max-width: 700px) {
  body {
    margin: 0%;
    max-width: 600px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 90%;
    margin: 15rem 3rem;
  }
  
  /* responsive styling for edit profile modal */
  #modal{
    padding: 2rem;
  }
  #modal-content{
    width: 100%;
  }
/* end */

  .author-bio {
    margin-top: 3rem;
    max-width: 100%;
    margin-left: 0px;
  }

  .author-bio > .name {
    font-size: 4rem;
  }
  .author-socials a i:hover{
    transform: scale(1.05);
  }

  .author-bio > .brief {
    font-size: 2rem;
    max-width: max-content;
  }

  .latest-articles {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
  .articles-ctn{
    flex: 70%;
  }

  hr {
    margin: -10rem 0 5rem;
  }

.sub-heading {
    margin-left: 3rem;
    margin-top: -3rem;
    font-size: 4rem;
    font-weight: 500;
  }

  .row1,
  .row2,
  .row3,
  .row4,
  .row5 {
    display: block;
    margin: 5rem 0rem;
    flex-wrap: wrap;
    flex-grow: 5;
    width: 110%;
  }

  .article {
    width: 100%;
    margin: 5rem 0;
  }
  .article-img {
    width: 100%;
    height: 60%;
  }
  .article > .comment,
  .article > .article-category,
  .article > .time {
    font-size: 1.7rem;
  }
  .article .title {
    width: 100%;
    font-size: 3rem;
  }
  .comment{
    margin-right: 5em;
    display: block;
  }
  .tags-comp {
    width: 80%;
    margin: 20rem 2em;
  }

  .page-slider {
    display: none;
  }
}

@media (max-width:400px) {
  .author-bio > .name, .sub-heading {
    font-size: 3rem;
  }
  /* .sub-heading{

  } */
}

@media screen and (max-width:1200px){
  .latest-articles{
    display: block;
  }
  .article{
    margin-right: 10rem;
  }
  .tags-comp{
    margin-top: 10rem;
    justify-content: center;
  }
}