@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
}
body {
  font-family: "Spectral", sans-serif;
  background-color: var(--body-bg-color);
}

/* universal styles */

.blog {
  display: flex;
  font-size: 1.6rem;
  margin-top: 14rem;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
}

.blog > *:not(:last-child) {
  margin-right: 4rem;
}

/* styling main content of the blog */
.blog__content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.blog__content > *:not(:last-child) {
  margin-bottom: 2rem;
}

/* styling blog heading section */
.blog__heading {
  color: var(--cream-highlight);
  font-size: 3.5rem;
}

.blog__subheading {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: normal;
}

.blog__author {
  color: var(--text-color);
}

.blog__author span {
  color: var(--write-for-us-bg-color);
}

.blog__post-time {
  color: var(--text-color);
}

/* styling main content of blog */
.blog__post {
  display: flex;
  flex-direction: column;
}

.blog__post > *:not(:last-child) {
  margin-bottom: 2rem;
}

.blog__movie-image img {
  width: 100%;
}

/* styling story section of blog */
.blog__post-story {
  color: var(--text-color);
}

.blog__post-story > *:not(:last-child) {
  margin-bottom: 2rem;
}

/*styling related content of blog */
.blog__related {
  color: var(--text-color);
}

.blog__related > *:not(:last-child) {
  margin-bottom: 2rem;
}

.blog__related-heading {
  border-left: 1rem solid var(--cream-highlight);
  padding-left: 2rem;
}

.blog__related-heading h3:first-child {
  color: var(--cream-highlight);
  text-transform: uppercase;
}

/* styling author details */
.blog__author-details {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  padding: 2rem;
}

.blog__author-details > *:not(:last-child) {
  margin-right: 2rem;
}

.blog__author-avatar img {
  height: 8rem;
  border-radius: 50%;
}

.blog__author-description h3 {
  color: var(--cream-highlight);
  margin-bottom: 1rem;
}

/* /////////////////////////// */
/* /////////////////////////// */
/* STYLING TAGS */
.post-tags {
  margin-top: 10rem;
}

/* /////////////////////////// */
/* /////////////////////////// */
/* RESPONSIVENESS */

@media (max-width: 1000px) {
  .blog__heading {
    font-size: 2.8rem;
  }

  .blog__subheading {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .blog {
    flex-direction: column;
  }

  .blog__content {
    width: 100%;
  }

  .blog__tags {
    align-self: center;
  }
}

@media (max-width: 450px) {
  .blog__author-details {
    flex-direction: column;
    align-items: flex-start;
  }
}
