:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #797979;
}

h3 {
  color: #ffe8a3;
}
/* 
.page-container {
    display: flex;
    flex-direction: column;
    height: ;
    width: ;
}

.page-subcontainer-1 {
    height: ;
    width: ;
    
}

.page-subcontainer-2 {
    display: flex;
    flex-direction: row;
    height: ;
    width: ;
}

.subcontainer-2-item-i {
    height: ;
    width: ;
}

.subcontainer-2-item-ii {
    height: ;
    width: ;
}

.subcontainer-2-item-iii {
    height: ;
    width: ;
} */
