@import url('http://fonts.cdnfonts.com/css/spectral');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: rgba(37, 37, 37, 0.8);
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
  --text-gold-color: #d2b48c;
}
footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  padding-bottom: 5vh;
}
.footer-1 {
  padding-top: 7vh;
}
.footer-1 p {
  font-style: italic;
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 24px;
  text-align: center;
}
.p-down {
  padding-top: 8vh;
}
.footer-2 {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 15%;
}
.footer-2 a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 24px;
}
.footer-2 a:hover {
  color: var(--cream-highlight);
}
.footer-2-first {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.footer-2-second{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.footer-2-second p {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 24px;
}
.same {
  display: flex;
  gap: 10%;
}
.footer-2-second span {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 24px;
}
.footer-2-second .social-icons {
  display: flex;
  width: 40%;
  gap: 20%;
}
.social-icons img{
  width: 100%;
}
.footer-2-third {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.footer-2-mobile{
  display: none;
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
  .footer-1 {
    padding-top: 5vh;
  }
  .footer-1 p {
    font-style: italic;
    font-weight: 400;
    font-size: 2.9rem;
    line-height: 24px;
    text-align: center;
  }
  .p-down {
    padding-top: 6vh;
  }
  .footer-2 {
    padding-top: 7vh;
    display: flex;
    justify-content: center;
    gap: 15%;
  }
  .footer-2 a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 24px;
  }
  .footer-2 a:hover {
    color: var(--cream-highlight);
  }
  .footer-2-first {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .footer-2-second{
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .footer-2-second p {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 24px;
  }
  .same {
    display: flex;
    gap: 10%;
  }
  .footer-2-second span {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 24px;
  }
  .footer-2-second .social-icons {
    display: flex;
    width: 40%;
    gap: 20%;
  }
  .social-icons img{
    width: 100%;
  }
  .footer-2-third {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .footer-2-mobile{
    display: none;
  }
}
/* second-div */
@media screen and (min-width: 500px) and (max-width: 800px) {
  footer{
    padding-bottom: 2vh;
  }
  .footer-1 {
    padding-top: 5vh;
  }
  .footer-1 p {
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 24px;
    text-align: center;
  }
  .p-down {
    padding-top: 2vh;
  }
  .footer-2{
    display: none;
  }
  .footer-2-mobile {
    /* padding-top: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5vh 10% 0;
    
    gap: 2vh;
  }
  .footer-2-mobile a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 24px;
  }
  .footer-2-mobile a:hover {
    color: var(--cream-highlight);
  }
  .footer-2-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
  }
  .footer-2-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    padding: 2vh 25% 0;
  }
  .footer-2-second p {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 24px;
  }
  .same {
    display: flex;
    gap: 10%;
  }
  .footer-2-second span {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 24px;
  }
  .footer-2-second .social-icons {
    display: flex;
    /* width: 40%; */
    gap: 5%;
  }
  .social-icons img{
    width: 100%;
  }
  .footer-2-third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
    
  }
}
/* mobile 2 */
@media screen and (min-width: 0px) and (max-width: 499px) {
  footer{
    padding-bottom: 2vh;
  }
  .footer-1 {
    padding-top: 5vh;
  }
  .footer-1 p {
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
  }
  .p-down {
    padding-top: 3vh;
  }
  .footer-2{
    display: none;
  }
  .footer-2-mobile {
    /* padding-top: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5vh 5% 0;
    gap: 2vh;
  }
  .footer-2-mobile a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
  }
  .footer-2-mobile a:hover {
    color: var(--cream-highlight);
  }
  .footer-2-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 2vh; */
  }
  .footer-2-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    padding: 2vh 15% 0;
  }
  .footer-2-second p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
  }
  .same {
    display: flex;
    gap: 5%;
  }
  .footer-2-second span {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
  }
  .footer-2-second .social-icons {
    display: flex;
    /* width: 40%; */
    gap: 10%;
  }
  .social-icons img{
    width: 70%;
  }
  .footer-2-third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
    
  }
}
