@import url('http://fonts.cdnfonts.com/css/spectral');

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color:rgba(37, 37, 37, 0.8);;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* this is to make the default font size 10px(for using rem) */
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-size: 2rem;
  font-family: 'Spectral', sans-serif;
}

/* hero section style */
.hero {
  position: relative;
  min-height: 100vh;
  background-image: url(../../static/img/HERO-bg_home.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}
.hero-content {
  display: grid;
  place-items: center;
  padding-top: 15rem;
}
.hero-title {
  font-size: 10rem;
  letter-spacing: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1rem 0;
}
.hero-subtitle {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
.hero-btns {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}
.hero-btns a {
  display: inline-block;
  text-align: center;
  padding: 0.5em 0.75em;
  border-radius: 1rem;
  font-size: 2rem;
  text-decoration: none;
}
.wfu-btn {
  background-color: var(--cream-highlight);
  color: #000;
}
.explore-btn {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--cream-highlight);
}
.icons {
  list-style: none;
  position: absolute;
  bottom: 4rem;
  right: 3.5rem;
}
.icons li {
  margin-bottom: 2.5rem;
}

/* number sections style */
.number-sections {
  background-color: var(--body-bg-color);
}

.flex-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  /* font-size: 2rem; */
  padding: 3rem 5rem;
}

.flex-container.two .flex-content {
  align-self: flex-start;
}
.flex-content {
  max-width: 30rem;
}
.number {
  font-size: 10.4rem;
  color: var(--cream-highlight);
  margin: 1rem 0;
}
.number-subtitle {
  text-transform: capitalize;
  text-align: center;
}
.flex-title {
  width: 14rem;
  font-size: 2.5rem;
  text-align: center;
  /* font-weight: 700; */
  /* padding-inline: .5rem; */
  line-height: 2.4rem;
  margin: 3rem 0;
  border-top: 2rem solid var(--cream-highlight);
}
.flex-images {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.flex-images img,
.block-img img {
  max-width: 100%;
  height: auto;
}
.block-img {
  width: fit-content;
  margin: 1.5rem auto;
}
.img-subtitle {
  white-space: nowrap;
  border-bottom: 1px solid;
  width: fit-content;
}
.cream-color-link {
  color: var(--cream-highlight);
}
.mobile-lnk {
  display: none;
}

/* top picks section */
.top-picks{
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: space-around;
  padding: 10rem 0;
}
.top-picks-heading{
  font-size: 2.4rem;
}
.top-picks ul{
  list-style: none;
}
.img-column{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.img-column ul li img{
  max-width: 100%;
}
.img-column ul li{
  margin-bottom: 2rem;
}
.img-column ul :last-child{
  display: flex;
  gap: 3rem;
}
.arrow{
  display: inline;
  align-self: center;
  font-size: 5rem;
}
.post-tags{
  max-width: 350px;
  gap: 2rem;
}
.latest-post, .tags{
  border: 1px solid var(--cream-highlight);
}
.latest-post .HOD-post{
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../static/img/house-of-dragon-small.png);
  position: relative;
  margin-bottom: 1rem;
}
.latest-post ul li:not(:first-child){
  margin-bottom: 2.5rem;
  padding: 0 1rem;
}
.post-title{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: var(--text-color);
  color: #5F6362;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  padding: .5rem;
}
.post-subtitle{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem 3rem;
  width: 100%;
}
.latest-post .more-lnk{
  display: block;
  width: fit-content;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid var(--cream-highlight);
  margin-inline: auto;
  color: var(--text-color);
  margin-bottom: 3rem;
}
.tags{
  margin-top: 12rem;
}
.tags-title{
  border-bottom: 1px solid var(--cream-highlight);
  padding: 1.5rem 2.5rem;
}
.tags ul li{
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.tags a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* breakpoints for responsiveness */
@media (max-width: 768px) {
  /* hero section */
  .hero {
    background-image: url(../../static/img/hero-mobile_home.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title {
    font-size: 4rem;
  }
  .hero-subtitle {
    font-size: 2rem;
    max-width: 300px;
    text-align: center;
  }
  .hero-btns .explore-btn {
    display: none;
  }
  .icons {
    display: none;
  }

  /* numbers section */
  .flex-container {
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
    gap: 3rem;
    /* object-fit: cover; */
    margin-inline: auto;
    font-size: 1.6rem;
  }
  .number {
    font-size: 4rem;
    text-align: center;
  }
  .flex-content {
    max-width: 90%;
  }
  .flex-images {
    flex-direction: column;
    object-fit: contain;
    width: 100%;
  }
  .flex-images li {
    object-fit: cover;
  }
  .mobile-lnk {
    display: block;
    text-align: center;
  }
  .desktop-lnk {
    display: none;
  }

  /* top picks section */
  .top-picks{
    flex-direction: column;
    width: 100%;
    padding: 6rem 2.5rem;
    margin-inline: auto;
    justify-content: center;
    align-content: center;
  }
  .top-picks-heading{
    text-align: center;
  }
  .img-column,.post-tags{
    width: 100%;
    margin-inline: auto;
    font-size: 1.8rem;
  }
  .img-column ul li img{
    margin-inline: auto;
    
  }
  .img-column ul li .arrow{
    text-align: right;
    font-size: 4rem;
  }
  .img-column ul :last-child{
    display: block;
  }
}

