:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* this is to make the default font size 10px(for using rem) */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

.form {
  color: white;
  margin-top: auto;
  font-size: 1.7rem;
  background-color: var(--body-bg-color);
  /* display: inline-block; */
  position: static;
  margin-top: 20rem;
  margin-left: 40%;
  margin-bottom: 10rem;
  max-width: 320px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* styling form group */
.form-group:not(:last-child) {
  margin-bottom: 3rem;
}

/* styling form input */
.form__input {
  display: block;
  background-color: var(--body-bg-color);
  border: none;
}

.form__input:focus {
  outline: none;
}

/* styling form label */
.form__label {
  display: block;
  transform: translateY(-3rem);
}
