@import url('http://fonts.cdnfonts.com/css/spectral');
 
:root{
    --body-bg-color: #797979;
    --write-for-us-bg-color: #B3B3B3;
    --footer-bg-color: #252525;
    --cream-highlight: #FFE8A3;
    --text-color: #FFFFFF;
    --text-gold-color: #d2b48c;
  --constant-text-color: #ffffff;
}
body{
    font-family: 'Spectral', sans-serif;
}