@import url("https://fonts.cdnfonts.com/css/spectral");
:root {
  --nav-background-color: #080808;
  --body-bg-color:  #E5E5E5;
  --body-text-color: #080808;
  --hero-button-color: #F81E4F;
  --hero-text-color: #FFFFFF;
  --span-text-color: #F81E4F;
  --search-bg-color: rgba(255, 255, 255, 0.8);
  --search-text-color: #080808;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #121212;
  --404-text-color: #5F6362;
  --about-movies-bg: #253D5B;
  --about-TV-bg: #380036;
  --about-anime-bg: #4C6663;
  --privacy-background-color: #363636;
  --privacy-text-color: #FFFFFF;
}
body {
  font-family: "Spectral", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* this is to make the default font size 10px(for using rem) */
  font-size: 62.5%;
}

body {
  font-family: "Spectral", sans-serif;
}

h2 {
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;
  color: #3a62f0;
}

.form-container {
  color: var(--text-color);
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 14rem;
  margin-bottom: 5rem;
  margin-inline: auto;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3px;
  overflow: hidden;
  /* border-radius: 1.5rem; */
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.2);
}

.form-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, transparent, #3a62f0);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}
.form-container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, transparent, #3a62f0);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form-content {
  position: relative;
  /* inset: 4px; */
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem;
  width: 100%;
  height: 100%;
}

.form {
  width: 100%;
}

/* styling reset link page */
.reset-link {
  max-width: 500px;
  text-align: center;
  display: block;
  padding: 8rem 4rem;
  margin-top: 19rem;
  margin-bottom: 10rem;
}
.email-link {
  color: var(--cream-highlight);
}

/* styling form group */
.form-group {
  width: 100%;
  position: relative;
}

.form-group:not(:last-child) {
  margin-bottom: 5rem;
}

/* styling eye icon */
.password-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
  height: 2rem;
  width: 2rem;
  z-index: 9;
}

.password-icon i {
  color: white;
}

.form__input:placeholder-shown ~ .password-icon i {
  color: black;
}

.form__input:focus ~ .password-icon i {
  color: white;
}

.password-icon .bi-eye,
.bi-eye-slash {
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s ease;
}

.password-icon .bi-eye {
  opacity: 1;
  pointer-events: all;
}
.password-icon .bi-eye-slash {
  opacity: 0;
  pointer-events: none;
}
.password-icon.active .bi-eye {
  opacity: 0;
  pointer-events: none;
}
.password-icon.active .bi-eye-slash {
  opacity: 1;
  pointer-events: all;
}

/* styling form input */
.form__input {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 4.5rem;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-right: 4rem;
  position: relative;
  z-index: 7;
}

.form__input::placeholder {
  color: var(--placeholder-text-color);
}

/* BLUE BACKGROUND FIX */
/* //////////////////// */
/* //////////////////// */
.form__input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:focus:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:-moz-autofill {
  -moz-text-fill-color: var(--text-color);
  -moz-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:focus:-moz-autofill {
  -moz-text-fill-color: var(--text-color);
  -moz-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:-o-autofill {
  -o-text-fill-color: var(--text-color);
  -o-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:focus:-o-autofill {
  -o-text-fill-color: var(--text-color);
  -o-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:-khtml-autofill {
  -khtml-text-fill-color: var(--text-color);
  -khtml-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}
.form__input:focus:-khtml-autofill {
  -khtml-text-fill-color: var(--text-color);
  -khtml-box-shadow: 0 0 0px 1000px var(--input-background-color) inset;
}

.form__input::placeholder {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: "Spectral", sans-serif;
}

/* styling error message for email input */
.error-msg {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  height: 1.7rem;
  text-align: center;
  opacity: 0;
  color: var(--text-color);
  font-style: italic;
  transition: 0.2s;
  transform: translateY(-2rem);
}

.error-msg.active {
  transform: translateY(0rem);
  opacity: 1;
}

/* styling form label */
.form__label {
  position: absolute;
  display: block;
  top: 1rem;
  left: 0;
  opacity: 1;
  letter-spacing: 2px;
  color: black;
  transition: 0.3s;
  transform: translateY(-4rem) scale(0.8);
  z-index: 2;
  font-family: "Spectral", sans-serif;
  pointer-events: none;
}

.form__input:placeholder-shown ~ .form__label {
  transform: translateY(0rem) scale(1);
  opacity: 1;
  color: black;
}

.form__input:focus ~ .form__label {
  transform: translateY(-4rem) scale(0.8);
}

.line {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgba(56, 96, 240, 0.6);
  width: 100%;
  border-radius: 4px;
  pointer-events: none;
  transition: 0.3s;
  height: 4.5rem;
}

.form__input:placeholder-shown ~ .line {
  transform: translateY(0rem);
  height: 2px;
}

.form__input:focus ~ .line {
  height: 4.5rem;
}

/* styling p tag in checkbox group AND login p tag */
.form-container p a {
  color: red;
  text-decoration: none;
  font-size: 1.4rem;
}

.form-container p {
  font-size: 1.4rem;
}

/* Styling sign up button */
.form__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3a62f0;
  overflow: hidden;
  background: none;
  color: black;
  width: 50%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.5s ease-out;
}

.form__button::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  height: 180%;
  width: 100%;
  border-radius: 0 0 100% 100%;

  background-image: linear-gradient(
    111.73deg,
    #3a62f0 35.75%,
    rgba(253, 0, 243, 0) 151.09%
  );
  z-index: -1;
  transition: 0.4s ease-out;
}
.form__button:hover::before {
  height: 0%;
}

/* styling container housing text of button */
.text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  overflow: hidden;
}

/* styling p tags in the button */
.p-1,
.p-2 {
  position: absolute;
  transition: 0.4s cubic-bezier(0.41, 1.8, 0.55, 1);
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.p-1 {
  transform: translateY(-4rem);
  color: black;
}

.p-2 {
  color: white;
}

.form__button:hover .p-1 {
  transform: translateY(0rem);
  letter-spacing: 2px;
}
.form__button:hover .p-2 {
  transform: translateY(4rem);
  letter-spacing: 2px;
}

/* styling login and sign up text at the bottom of each form */
.login-signup-text {
  margin-top: 3rem;
}

/* ///////////////////////////// */
/* //////////////////////////// */
/*RESPONSIVENESSSSS*/

@media (max-width: 850px) {
  .form-container {
    margin-top: 12rem;
  }
  .reset-link {
    margin: 14rem auto 5rem;
  }
}
@media (max-width: 500px) {
  .reset-link {
    padding: 8rem 2rem;
  }
}
@media (max-width: 300px) {
  /* responsiveness of label in password reset form */
  .reset__label {
    background-color: transparent;
    top: 1rem;
    margin-left: 0.5rem;
    transform: translateY(-4.5rem);
    font-size: 1.3rem;
  }

  .reset__input::placeholder {
    font-size: 1.3rem;
  }
}
@media (max-width: 350px) {
  /* responsiveness of label in password reset form */
  .reset__label-2 {
    background-color: transparent;
    top: 1rem;
    margin-left: 0.5rem;
    transform: translateY(-4.5rem);
    font-size: 1.3rem;
  }

  .reset__input-2::placeholder {
    font-size: 1.3rem;
  }
}
