@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
  --text-gold-color: #d2b48c;
  --constant-text-color: #ffffff;
}

.post-tags {
  max-width: 400px;
  /* border: 1px solid; */
  gap: 2rem;
  color: var(--text-color);
}
.latest-post,
.tags {
  border: 1px solid var(--cream-highlight);
  width: 100%;
}
.latest-post .HOD-post {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 1rem;
}

.latest-post ul {
  list-style: none;
}

.latest-post ul li:not(:first-child) {
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
}

.latest-post ul li a {
  color: var(--text-color);
  text-decoration: none;
}
.post-title {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: var(--text-color);
  color: #5f6362;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.5rem;
}
.post-subtitle {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem;
  width: 100%;
}
.latest-post .more-lnk {
  display: block;
  width: fit-content;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid var(--cream-highlight);
  margin-inline: auto;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.tags {
  margin-top: 12rem;
}
.tags-title {
  border-bottom: 1px solid var(--cream-highlight);
  padding: 1.5rem 2.5rem;
}
.tags ul li {
  padding: 0 1.5rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.tags a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.latest-post ul li a:hover,
.tags a:hover {
  color: var(--cream-highlight);
}
