@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
  --text-gold-color: #d2b48c;
}
body {
  font-family: "Spectral", sans-serif;
  margin-top: 10em;
  background-color: var(--body-bg-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title > p {
  font-size: 3.5rem;
  color: var(--text-gold-color);
  margin: 14rem 0 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.content-ctn {
  margin: 2rem 10rem;
  padding: 2rem 5rem;
  background-color: var(--text-color);
}

.sub-heading {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.content {
  font-size: 3rem;
  line-height: 1.5;
}
