@import url('http://fonts.cdnfonts.com/css/spectral');

:root{
    --body-bg-color: #797979;
    --write-for-us-bg-color: #B3B3B3;
    --footer-bg-color: #252525;
    --cream-highlight: #FFE8A3;
    --text-color: #FFFFFF;
    --text-gold-color: #d2b48c;
    --constant-text-color: #ffffff;
    --tos-content-bg-color: #ffffff;
    --tos-content-text-color: #000;
  }

body{
    font-family: 'Spectral', sans-serif;
    margin-top: 10rem;
    background-color: var(--body-bg-color);
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title > p {
  font-size: 4rem;
  color: var(--text-gold-color);
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-ctn {
  margin: 2rem 10rem 10rem;
  padding: 2rem 5rem;
  background-color: var(--tos-content-bg-color);
  color: var(--tos-content-text-color);
}

.sub-heading {
  margin: 20px 0;
  font-size: 3.5rem;
}

.content {
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width:600px){
  .content-ctn {
  margin: 2rem 2rem 5rem;
  padding: 2rem 5rem;
  background-color: var(--constant-text-color) ;
}
.sub-heading{
  font-size: 2rem;
}
.content{
  font-size: 1.5rem;
}
#title>p{
  font-size: 3rem;
}
}