@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
  --buttonBg: rgba(210, 180, 140, 1);
  --boxContainerBg: rgba(179, 179, 179, 1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --light-bg: #eee;
  --yellow: #f5bf23;
  --writerPost: rgba(8, 8, 8, 0.6);
  --constant-text-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
}

.hero {
  background-color: brown;
  height: 75vh;
  background-image: url(../img/hero-bg_write-for-us.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container-1 {
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveDown 2s ease-in;
  margin-right: 200px;
}
.hero .container-2 {
  position: absolute;
  top: 20%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveDown 2s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.hero .container-3 {
  position: absolute;
  top: 8%;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveDown 2s ease-in;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.line1 {
  transform: scaleY(2.5) translateY(-7rem);
}
.line2 {
  transform: scaleY(2.5) translateY(-7rem);
}
.hero h2 {
  color: var(--constant-text-color);
  font-size: 3rem;
  text-transform: uppercase;
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  40% {
    transform: translateY(50px);
  }
  60% {
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

body {
  font-family: "Spectral", sans-serif;
}

/* Page content */
body {
  background-color: var(--body-bg-color);
  font-family: "Spectral", sans-serif;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  padding-top: 9rem;
  margin-top: 9rem;
  padding-bottom: 18em;
  border-bottom: 4px dashed rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.box-container {
  background-color: var(--boxContainerBg);
  width: 40%;
  padding: 4rem;
  border-radius: 10px;
}
.box-container h1 {
  color: rgba(8, 8, 8, 1);
  font-size: 3.5rem;
  line-height: 50px;
  text-align: center;
  padding-bottom: 2rem;
}
.box-container p {
  color: rgba(8, 8, 8, 1);
  text-align: center;
}
.box-container .end {
  text-align: end;
}
.box-container:has(.script-type) {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  position: relative;
}
.product-type {
  text-align: end !important;
}
.box-container:has(.script-type) > div {
  text-align: center;
  background-color: white;
  padding: 2.5rem;
  width: 70%;
  align-self: center;
  border-radius: 2rem;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.box-container:has(.script-type)::before {
  position: absolute;
  content: "1";
  font-size: 20px;
  font-weight: 300;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 2px solid var(--cream-highlight);
  top: 9.5%;
  left: 4%;
}
.script-type,
.blog-type,
.product-type {
  position: relative;
}

:is(.script-type, .blog-type, .product-type)::before {
  position: absolute;
  inset: 0.8rem;
  top: 15%;
  background-color: rgba(121, 121, 121, 0.8);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 1rem;
}
.script-type::before {
  content: url(../img/movie-scripts.svg);
}
.blog-type::before {
  content: url(../img/blog-articles.svg);
}
.product-type::before {
  content: url(../img/product-description.svg);
}

.white-space {
  background-color: var(--constant-text-color);
  width: 70%;
  height: 32vh;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}
.white-space button {
  background-color: var(--buttonBg);
  outline: none;
  border: none;
  padding: 0.6rem 0.8rem;
  font-size: 18px;
  border-radius: 20px;
}
.suspense {
  width: 55%;
  align-self: flex-end;
  margin-right: -3rem;
}
.romance {
  width: 30%;
  margin-right: -1rem;
  align-self: flex-end;
}
.horror {
  width: 25%;
  align-self: flex-end;
}

.one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box-container:has(.one) {
  position: relative;
}
.box-container:has(.one)::before {
  position: absolute;
  content: "2";
  font-size: 20px;
  font-weight: 300;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 2px solid var(--cream-highlight);
  top: 12%;
  left: 4%;
}

.two {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cover {
  width: 40%;
  margin-left: -5rem;
  margin-top: 0.5rem;
}
.submit {
  width: 40%;
  margin-right: -5rem;
  align-self: flex-end;
  margin-top: 11rem;
}

.box-container:has(.two) {
  position: relative;
}
.box-container:has(.two)::before {
  position: absolute;
  content: "3";
  font-size: 20px;
  font-weight: 300;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 2px solid var(--cream-highlight);
  top: 12%;
  left: 4%;
}

/* Writers */

.writers {
  margin-block: 12rem;
  padding-inline: 4rem;
}
.writers > h1 {
  text-transform: uppercase;
  color: var(--buttonBg);
  text-align: center;
  font-size: 4.5rem;
}

.gallery {
  margin-block-start: 8rem;
}

.swiper-slide > p {
  background-color: var(--light-bg);
  padding: 1.5rem 2rem;
  font-size: 2rem;
}
.writer-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}
.writer-info h1 {
  text-transform: capitalize;
  font-size: 3rem;
  color: var(--text-color);
}
.writer-info p {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 2.5rem;
}
.star {
  display: flex;
  gap: 0.2rem;
  color: var(--yellow);
  font-size: 2rem;
}
.white-star {
  color: white;
}
.writers > p {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 8rem;
  color: var(--text-color);
}
.writers a {
  color: var(--buttonBg);
  text-transform: capitalize;
}
.swiper-slide img {
  width: 100%;
  aspect-ratio: 16/12;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

@media screen and (min-width: 420px) and (max-width: 850px) {
  html {
    font-size: 60%;
  }
  .hero .container-1 {
    left: 15%;
  }
  .hero .container-2 {
    left: 45%;
  }
  .hero .container-3 {
    left: 75%;
  }
  .box-container {
    width: 80%;
  }
  .box-container .end {
    text-align: center;
  }
  .white-space {
    width: 80%;
    height: 25vh;
    padding-top: 4rem;
  }
}

@media screen and (min-width: 420px) and (max-width: 550px) {
  html {
    font-size: 55%;
  }
  .box-container {
    width: 87%;
  }
  .box-container:has(.script-type) > div {
    width: 80%;
  }
  .box-container .end {
    margin-left: 7rem;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 45%;
  }

  .hero {
    height: 50vh;
  }
  .hero .container-1 {
    top: 15%;
    left: 10%;
  }
  .hero .container-2 {
    top: 10%;
    left: 45%;
  }
  .hero .container-3 {
    top: 5%;
    left: 80%;
  }
  .box-container {
    width: 90%;
  }
  .line1 {
    transform: scaleY(2.5) translateY(-8rem);
  }
  .line2 {
    transform: scaleY(2.5) translateY(-8rem);
  }
  .box-container h1 {
    text-align: end;
  }
  .box-container p {
    font-size: 2.5rem;
  }
  .container {
    border-bottom: 2px dashed rgba(8, 8, 8, 1);
    border-top: 1px solid rgba(8, 8, 8, 1);
  }
  .white-space {
    width: 80%;
    height: 22vh;
  }
  .box-container:has(.script-type) > div {
    padding: 3rem;
    width: 90%;
  }

  .suspense {
    width: 70%;
    align-self: flex-end;
    margin-right: -5rem;
  }
  .romance {
    width: 50%;
    margin-right: -1rem;
    align-self: flex-end;
  }
  .horror {
    width: 40%;
    align-self: flex-end;
  }
  .one {
    padding-top: 5rem;
    gap: 2rem;
  }
  .two {
    padding-top: 3rem;
  }
  .submit {
    width: 40%;
    margin-right: -5rem;
    align-self: flex-end;
    position: absolute;
    bottom: 12%;
  }
  .cover {
    width: 50%;
  }
  :is(.script-type, .blog-type, .product-type)::before {
    inset: 1.3rem;
    aspect-ratio: 2/1;
    height: 7.5rem;
    width: 7.5rem;
  }
  .box-container:has(.script-type)::before,
  .box-container:has(.one)::before,
  .box-container:has(.two)::before {
    top: 8%;
    left: 2%;
    font-size: 22px;
    display: grid;
    place-items: center;
    height: 5.5rem;
    width: 5.5rem;
  }
  .writers > p {
    font-size: 3.1rem;
  }
  .writers {
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 40%;
  }
  .box-container {
    width: 87%;
  }
  .box-container:has(.script-type) > div {
    width: 95%;
  }
  .box-container .end {
    margin-left: 4rem;
  }
  .box-container h1 {
    font-size: 3rem;
  }
  .cover {
    width: 60%;
  }
  .suspense {
    width: 80%;
  }
  .line1 {
    transform: scaleY(2.5) translateY(-9rem);
  }
  .line2 {
    transform: scaleY(2.5) translateY(-9rem);
  }
}

@media screen and (max-width: 280px){
  html{
    font-size: 35%;
  }
  .box-container:has(.one)::before,.box-container:has(.two)::before{
    top: 13%;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 14px;
  }
  .box-container:has(.script-type)::before{
    top: 10%;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 14px;
  }

  .suspense {
    width: 100%;
  }
  .romance{
    width: 62%;
  }
  .horror{
    width: 53%;
  }
  .cover{
    width: 70%;
  }

  .line1 {
    transform: scaleY(2.5) translateY(-11rem);
  }
  .line2 {
    transform: scaleY(2.5) translateY(-11rem);
  }
}
