{% load static %}

<footer>
    <section class="footer-1">
        <p>“Let me live, love, and say it well in good sentences“</p>
        <p class="p-down">- Sylvia Plath</p>
        <a href="{% url 'credits' %}">CREDITS</a>
    </section>

    <section class="footer-2">
        <div class="footer-2-first">
            <a href="{% url 'write_for_us' %}">Write for Us</a>
            <a href="{% url 'terms_of_service' %}">Terms and Conditions</a>
        </div>

        <div class="footer-2-second">
          <div class="same">
            <span>Follow Us:</span>
            <div class="social-icons">
            <a href=""> <img src="{% static 'img/twitter-icon.svg' %}" alt="Twitter-Logo"/></a>
            <a href=""><img src="{% static 'img/instagram.svg' %}" alt="Instagram-Logo"></a>
            <a href=""><img src="{% static 'img/pinterest.svg' %}" alt="Pinterest-Logo"></a>
            </div>
          </div>
          <p>Copyright@screened2022</p>
        </div>

        <div class="footer-2-third">
            <a href="{% url 'contact_us' %}">Contact Us</a>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
        </div>
    </section>
    <!-- mobile section -->
    <section class="footer-2-mobile">
        <div class="footer-2-first">
            <a href="{% url 'write_for_us' %}">Write for Us</a>
            <a href="{% url 'terms_of_service' %}">Terms and Conditions</a>
        </div>
        <div class="footer-2-third">
            <a href="{% url 'contact_us' %}">Contact Us</a>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
        </div>
        <div class="footer-2-second">
            <div class="same">
              <span>Follow Us:</span>
              <div class="social-icons">
              <a href=""> <img src="{% static 'img/twitter-icon.svg' %}" alt="Twitter-Logo"/></a>
              <a href=""><img src="{% static 'img/instagram.svg' %}" alt="Instagram-Logo"></a>
              <a href=""><img src="{% static 'img/pinterest.svg' %}" alt="Pinterest-Logo"></a>
              </div>
            </div>
            <p>Copyright@screened2022</p>
          </div>
  
    </section>

      
</footer>
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />