{% load static %}

<link rel="stylesheet" href="{% static 'css/tags.css' %}">
<div class="post-tags">
    <div class="latest-post">
       
        <ul>
            {% for l_post in latest_posts %}
                {% if forloop.counter == 1  %}
                    <li class="HOD-post">
                        <div class="post-title">
                        latest post 
                        </div>
                        <div href="{{ l_post.get_absolute_url }}" class="post-subtitle">
                            <div>1</div>
                            <div>{{ l_post.title }}</div> 
                        </div>
                    </li>
                    <style>
                        .latest-post .HOD-post {
                            background-image: url('{{ l_post.cover_image.url }}');
                        }
                    </style>
                {% else %}
                    <li><a href="{{ l_post.get_absolute_url }}">{{ forloop.counter }}) {{ l_post.title }} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <a class='more-lnk' href="{% url 'blog:latest' %}">More</a>
    </div>
    <div class="tags">
        <div class="tags-title">
           Tags 
        </div>
       <ul>
        <li>
            <a href="{% url 'blog:tag' 'Kdrama' %}">Kdrama</a>
            <a href="{% url 'blog:tag' 'Action' %}">Action</a>
            <a href="{% url 'blog:tag' 'Romance' %}">Romance</a>
        </li>
        <li>
            <a href="{% url 'blog:tag' 'Bollywood' %}">Bollywood</a>
            <a href="{% url 'blog:tag' 'Anime' %}">Anime</a>
            <a href="{% url 'blog:tag' 'Actors' %}">Actors</a>
        </li>
        <li>
            <a href="{% url 'blog:tag' 'Chinese-Series' %}">Chinese Series</a>
            <a href="{% url 'blog:tag' 'Spanish-series' %}">Spanish series</a>
        </li> 
        <li>
            <a href="{% url 'blog:tag' 'Comedy' %}">Comedy</a>
            <a href="{% url 'blog:tag' 'Horror' %}">Horror</a>
            <a href="{% url 'blog:tag' 'Sci-fi'  %}">Sci Fi</a>
        </li>
        <li>
            <a href="{% url 'blog:tag' 'Thai-series' %}">Thai Series</a>
            <a href="{% url 'blog:tag' 'Unpopular-opinion' %}">Unpopular Opinion</a>
        </li>
       </ul> 
    </div>
</div>