@import url("http://fonts.cdnfonts.com/css/spectral");

:root {
  --body-bg-color: #797979;
  --write-for-us-bg-color: #b3b3b3;
  --footer-bg-color: #252525;
  --cream-highlight: #ffe8a3;
  --text-color: #ffffff;
  --constant-text-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* this is to make the default font size 10px(for using rem) */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Spectral", sans-serif;
}

hr {
  width: 120%;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin-top: 1rem;
  margin-bottom: 5rem;
  position: relative;
  left: -2rem;
}

h2 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.form-container {
  color: var(--text-color);

  font-size: 1.7rem;
  background-color: var(--body-bg-color);
  margin-top: 14rem;
  margin-bottom: 5rem;
  margin-inline: auto;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.2);
}

.form {
  width: 100%;
}

/* styling form group */
.form-group {
  width: 100%;
  position: relative;
}

.form-group:not(:last-child) {
  margin-bottom: 5.3rem;
}

/* styling eye icon */
.password-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
  height: 2rem;
  width: 2rem;
}

.password-icon .bi-eye,
.bi-eye-slash {
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s ease;
}

.password-icon .bi-eye {
  opacity: 1;
  pointer-events: all;
}
.password-icon .bi-eye-slash {
  opacity: 0;
  pointer-events: none;
}
.password-icon.active .bi-eye {
  opacity: 0;
  pointer-events: none;
}
.password-icon.active .bi-eye-slash {
  opacity: 1;
  pointer-events: all;
}

/* styling form input */
.form__input {
  display: block;
  background-color: var(--body-bg-color);
  border: none;
  outline: 1px solid var(--text-color);
  width: 100%;
  height: 4.5rem;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  color: var(--text-color);
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-right: 4rem;
}
/* BLUE BACKGROUND FIX */
/* //////////////////// */
/* //////////////////// */
.form__input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:focus:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:-moz-autofill {
  -moz-text-fill-color: var(--text-color);
  -moz-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:focus:-moz-autofill {
  -moz-text-fill-color: var(--text-color);
  -moz-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:-o-autofill {
  -o-text-fill-color: var(--text-color);
  -o-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:focus:-o-autofill {
  -o-text-fill-color: var(--text-color);
  -o-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:-khtml-autofill {
  -khtml-text-fill-color: var(--text-color);
  -khtml-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}
.form__input:focus:-khtml-autofill {
  -khtml-text-fill-color: var(--text-color);
  -khtml-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset;
}

.form__input::placeholder {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: "Spectral", sans-serif;
}

/* styling error message for email input */
.error-msg {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  height: 1.7rem;
  opacity: 0;
  color: var(--text-color);
  font-style: italic;
  transition: 0.2s;
  transform: translateY(-2rem);
}

.error-msg.active {
  transform: translateY(0rem);
  opacity: 1;
}

/* styling form label */
.form__label {
  position: absolute;
  display: block;
  top: 1rem;
  margin-left: 1.5rem;
  opacity: 1;
  pointer-events: all;
  letter-spacing: 2px;
  transition: transform 0.3s;
  transform: translateY(-3.5rem);
  z-index: 2;
  padding: 0.7rem 0.7rem 0rem 0.7rem;
  background-color: var(--body-bg-color);

  font-family: "Spectral", sans-serif;
}

.form__input:placeholder-shown ~ .form__label {
  transform: translateY(0rem);
  pointer-events: none;
  opacity: 0;
}

.form__input:focus {
  outline: 2px solid var(--cream-highlight);
  transition: 0.1s;
}

/* styling forgot password */
.forgot-password {
  position: absolute;
  bottom: -4rem;
  left: 0;
}

.forgot-password a {
  text-decoration: none;
  color: var(--cream-highlight);
}

/* styling checkbox input group */
.checkbox-group {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.checkbox-group > :not(:last-child) {
  margin-right: 1rem;
}

/* styling checkbox */
.checkbox-group input {
  display: none;
}

.form__checkbox {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--text-color);
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}

.check-mark {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--text-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.checkbox-group input:checked ~ .form__checkbox .check-mark {
  opacity: 1;
  pointer-events: all;
  left: 50%;
}

/* styling p tag in checkbox group AND login p tag */
.form-container p a {
  color: var(--cream-highlight);
  text-decoration: none;
  font-size: 1.4rem;
}

.form-container p {
  font-size: 1.4rem;
}

/* Styling sign up button */
.form__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cream-highlight);
  overflow: hidden;
  background: none;
  color: black;
  width: 80%;
  height: 5rem;
  margin-top: 7.3rem;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.5s ease-out;
}

.form__button::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  height: 180%;
  width: 100%;
  border-radius: 0 0 100% 100%;

  background-color: var(--cream-highlight);
  z-index: -1;
  transition: 0.4s ease-out;
}

.form__button:hover::before {
  height: 0%;
}

/* styling container housing text of button */
.text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  overflow: hidden;
}

/* styling p tags in the button */
.p-1,
.p-2 {
  position: absolute;
  transition: transform 0.2s ease-out;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.p-1 {
  transform: translateY(-4rem);
  color: var(--text-color);
}

.form__button:hover .p-1 {
  transform: translateY(0rem);
}
.form__button:hover .p-2 {
  transform: translateY(4rem);
}

/* styling login and sign up text at the bottom of each form */
.login-signup-text {
  margin-inline: auto;
  margin-top: 3rem;
}

/* ///////////////////////////// */
/* //////////////////////////// */
/*RESPONSIVENESSSSS*/

@media (max-width: 850px) {
  .form-container {
    margin-top: 12rem;
  }
}

@media (max-width: 500px) {
  .form__checkbox {
    width: 2rem;
    height: 2rem;
  }

  .check-mark {
    height: 1.3rem;
    width: 1.3rem;
    background-color: var(--text-color);
  }
}
@media (max-width: 350px) {
  .form__checkbox {
    width: 2rem;
    height: 1.5rem;
    border: 1px solid var(--text-color);
  }

  .check-mark {
    height: 1rem;
    width: 1rem;
    background-color: var(--text-color);
  }
}

@media (max-width: 285px) {
  #signup-input2 ~ label {
    font-size: 1.3rem;
  }

  #signup-input2::placeholder {
    font-size: 1.3rem;
  }
}
