@import url("http://fonts.cdnfonts.com/css/spectral");

:root{
    --body-bg-color: #797979;
    --write-for-us-bg-color: #B3B3B3;
    --footer-bg-color: #252525;
    --cream-highlight: #FFE8A3;
    --text-color: #FFFFFF;
    --buttonBg:rgba(210, 180, 140, 1);
  --constant-text-color: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Spectral', sans-serif;
} 

body{
    background-color: var(--body-bg-color);
    font-family: 'Spectral', sans-serif; 
}

.parent_container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  padding-inline: 3rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-top: 20rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.movie,select,textarea,.trailer{
    display: block;
    margin-top: 2.5rem;
    background-color: transparent;
    border: 1px solid var(--text-color);
    width: 100%;
    border-radius: 10px;
    height: 10vh;
    padding: 1rem;
    font-size: 20px;
    color: var(--text-color);
}
input:focus{
    outline: 2px solid rgb(220, 197, 169);
    border: none;
}
label, form  p{
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 300;
    font-size: 24px;
}

.select-group{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    position: relative;
}
select{
    color: black;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    cursor: pointer;
}

.select-group i{
    position: absolute;
    font-size: 20px;
    right: 1.5rem;
    top: 65%;
    color: var(--text-color);
    z-index: -1;
}
textarea{
    font-size: 20px;
    padding: 1rem;
    color: var(--text-color);
    height: 40vh;
}
.text-area{
    margin-top: 3rem;
}
.page_divider{
    text-align: center;
    position: relative;
    background-color: var(--body-bg-color);
   margin-top: 5rem;
   margin-bottom: 1rem;
    text-transform: uppercase;
}

.page_divider::before,
 .page_divider::after {
  content: "";
  position: absolute;
  height: 5%;
  top: 50%;
  background-color: rgb(220, 197, 169);
  width: 44vw;
}
.page_divider::before{
    right: 0;
}
.page_divider::after{
    left: 0;
}
#btn{
    display: flex;
    justify-content: center;
}
.submit{
    width: 70%;
    background-color: rgb(220, 197, 169);
    border-radius: 4px;
    border: none;
    outline: none;
    padding-block: 1rem;
    font-size: 24px;
    text-transform: capitalize; 
    cursor: pointer;
    margin-block: 5rem;
}
.submit:hover{
    background-color: rgb(220, 197, 169);
}
.upload{
    display:block;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 20px;
    text-decoration:1.5px solid underline;
    cursor: pointer;
    align-self: start;
}
.upload:hover{
    color: rgb(235, 232, 232);
}





@media screen and (max-width:800px) {
    .page_divider::before,
    .page_divider::after {
     width: 35vw;
   }
   .submit{
       width: 100%;
   }
}


@media screen and (max-width:420px) {
    .page_divider::before,
    .page_divider::after {
     width: 30vw;
   }
}

